<% if false %>

<%= form_tag("/account_managers/approve_or_reject",method:"put",remote:true,html: {class: "col80"},id:"approve-or-reject") do  %>
  <div class="container" style="margin:0 auto;width: 116%;">
    <div class="section">
      <div class="info_right_daterange">
          <%= text_field_tag 'time_sheet_date_range', "Date Range",class: 'form-control date-range-picker',id:"date-range-work" %> 
          <!-- <span class="material-icons calender-icon">calendar_today</span> -->
      </div>
      <div class="info_timesheet_status">
          <%= select_tag 'time_sheet',options_for_select([["Pending",1],["Approved",2],["Rejected",3]]),include_blank: "All",class: "form-control" %>
      </div>
      <div class="clr"></div>
    </div>
    <div class="section" id="calender">
      <% today = Date.today # Today's date %>
      <% @days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map %> 

      <div class="row top">
        <div class="col col4">
          #
        </div>
        <div class="col col20">
          Employee
        </div>
        <div class="col col20">
          Vendor
        </div>
        <div class="col col20">
          Week
        </div>
        <% for day in (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day } do %>
        <div class="col col8">
          <%= day.strftime("%a %d") %>
        </div>
        <% end %>
        <div class="col col6">
          Total Hours
        </div>
        <div class="col col9">
          Status
        </div>       
        <div style="clear:both"></div>
      </div>
      <%@work_durations.each_with_index do |work,index| %> 
          <%current_status = work.try(:second).try(:first).try(:time_sheet_status)%>
          <div class="row">
            <div class="col col4">
              <%= check_box_tag 'p_ids[]',work.first.third => "#{work.second.first.work_day}" %>
            </div>
            <div class="col col20">
              <%= work.first.first %>
            </div>
            <div class="col col20">
              <%= work.first.second %>
            </div>
            <div class="col col20">
              <%= work.second.first.work_day.beginning_of_week.strftime("%B %d, %Y") %>
            </div>
            <% (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day }.each_with_index do |day, index| %>
              <% hw = work.second.select{|w| w if w.work_day.strftime("%A") == day.strftime("%A")} %>
              <div class="col col8">
                <%= label_tag ["a","b","c","d","e","f","g"][index]+work.first.third.to_s, hw.count > 0 ? hw.first.hours : 0 %>
              </div>
              <% if index == 6 %>
                <div class="col col6">
                  <%= label_tag "#{work.second.collect(&:hours).compact.inject(:+)}" %>
                </div>
                <div class="col col9">
                  <%= label_tag "#{current_status}",nil,class:"#{current_status}" %>
                </div>
              <% end %>
            <% end %>

            <div style="clear:both"></div>
          </div>
      <% end %>
      <% if @work_durations.empty?%>
        <div class="row">
          <div class="col col4">
          </div>
          <div class="col col20">
          </div>
          <div class="col col20">
          </div>
          <% (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day }.each_with_index do |day, index| %>
            <div class="col col8">
              <%= label_tag "" %>
            </div>
            <% if index == 6 %>
              <div class="col col6">
              </div>
              <div class="col col9">
                <%= label_tag "" %>
              </div>
            <% end %>
          <% end %>
          <div style="clear:both"></div>
        </div>
      <%end%>

    </div>
    <div class="section">
      <div class="info_right"> 
        <%= submit_tag("Approve",name:"approve",class:"btn btn-primary") %>
        <%= submit_tag("Reject",name:"reject",class:"btn btn-danger") %>
       </div>
      <div class="clr"></div>
    </div>
  </div>
<%end%>

<% end %>
<%# "Environment: #{Rails.env}" %>
<div class="page_heading"> Timesheet Management </div>
<div class="section">
	
    <div class="info_right_daterange">
        <%# text_field_tag 'time_sheet_date_range', "Date Range",class: 'form-control date-range-picker',id:"date-range-work" %> 
		<%# text_field_tag 'time_sheet_date_range',  @date, class: 'form-control daterange',id:"date-range-work"  %>
        <!-- <span class="material-icons calender-icon">calendar_today</span> -->
    </div>
</div>

<div class="section" id="calender">

<%= render "employees/calender", work_durations:WorkDuration.all, can_update:false, can_act:true, show_unsubmitted:false, show_filters: true %>

</div>