<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<%= wicked_pdf_stylesheet_link_tag "bootstrap.min" %>

<style>
  
  @font-face {
      font-family: Liberation;
      src: url(LiberationSerif-Regular.ttf);
  }
  @font-face {
      font-family: Liberation-bold;
      src: url(LiberationSerif-bold.ttf);
  }
  @page { size: auto;  margin: 7mm; }
  input[type="checkbox"]{
    width:25px;
    height:25px;
  }
  .extra-space{
    margin:30px 0px !important
  }
  .consent_para{
    margin:10px;
    font-size:20px;
  }
  .custom-row-margin{
    margin-left:5px;
    margin-right:5px;
  }
  .margin-none{
    margin:10px 0px;
  }
  .margin-top-minus{
    margin-top:-75px;
  }
  .margin-top-minus-10{
    margin-top:-10px;
  }
  .upper-name-block{
    font-family: Liberation-bold;
  }
  .lab_log {
    width: 130px !important;
    height: 100px  !important;
  }
  .main-head{
    font-size:18px;
  }
  .name-block{
    margin:10px 20px;
  }
  .text-left{
    text-align:left;
  }
  .text-center{
    text-align:center;
  }
  .vertex-logo img {
    width: 180px;
  }
  .vertex-logo{
    //padding-bottom:160px;
  }
  .bottom_barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .bottom_barcode_pos{
    margin-top:-50px;
  }
  .bottom-name-block{
    padding-left:30px;
  }
  .barcode_pos{
    margin-top:-50px;
  }
  .no-bg-grey-color{
    margin:5px;
  }
  .bg-grey-color{
    border-bottom:1px solid #9d9d9d;
    font-weight:bold;
  }
  .barcode_pos .barcode_img{
    width: 100% !important;
    height: 40px;
  }
  .barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .qrcode_img_up{
    margin-left: -25px;
    margin-top: -35px;
    width: 100%;
    heigt: 100%;
    float:right;
  }
  .qrcode_img_down{
    margin-left: -25px;
    width: 110%;
    float:right;  
  }
  .qrcode_img{
    margin-left: -25px;
    margin-top: -35px;
    width: 90%;
    float:right;
  }
  .small_qrcode_img{
    margin-left: -25px;
    margin-top: -10px;
    width: 25%;
  }
  .instruction_img{
    width:400px;
  }
  .instruction_big_img{
    width:650px;
  }
  .margin-left-40 {
    margin-left: -40px !important;
  }
  .margin-left-56 {
    margin-left: -75px !important;
  }
  .margin-left-right-30 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .height-70 {
    height: 70px;
  }
  .margin-top-15 {
    margin-top: 15px;
  }
  .line-height-30 {
    line-height: 30px;
  }
  .line-height-20{
    line-height:20px;
  }
  .margin-top-30 {
    margin-top: 30px;
  }
  .underline {
    text-decoration: underline;
  }
  .color-light-black {
    color: #3f3f3f;
  }
  .font-size-18 {
    font-size: 17px;
  }
  .font-size-12 {
    font-size: 12px !important;
  }
  .font-size-14 {
    font-size: 14px !important;
  }
  .padding-top-bottom-5 {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .padding-bottom-10 {
    padding-bottom: 10px;
  }
  .color-black {
    color: black;
  }
  .margin-left-18 {
    margin-left: 18px;
  }
  .margin-left-31 {
    margin-left: -31px !important;
  }
  
  .grey_backgroud {
      background:#A9A9A9;
  }
  
  .border_line {
      border: 1px solid #dddddd;
  }
  .nopadding {
     margin-top: -10px !important;
  }
  .margin-top-minus-4 {
     margin-top: -4px !important;
  }
  .margin-top-0 {
     margin-top: -0px !important;
     margin-left: -12px !important;
  }
  .margin-top-4 {
     margin-top: 4px !important;
  }
  .padding-left-40 {
    padding-left: 200px !important;
  }
  .margin-left-33 {
    margin-left: 33% !important;
  }
  .margin-left-1 {
    margin-left: 100px !important;
  } 
  
  .font-size-10 {
    font-size: 10px;
  }
  .margin-left-10{
    margin-left: -10px !important;
   }
   .margin-left-30{
    margin-left: -30px !important;
   }
  .margin-left-60{
    margin-left: -60px
  }
  .bottom-right{
    position: absolute;
    bottom: 10px;
    width: 50%;
    margin-left:39%;
  }
  .defult-border-left{
    border-left: 1px solid #ddd;
  }
  .text-align-right
  {
    text-align: right;
  }
  .padding-left-30{
    padding-left: 100px !important;
  }

  .main_container {
	  height:100px;
	  width:100%;
	  margin-bottom:50px;
  }
  .main_logo{
  	  width:33%;
	  height:100%;

	  float:left;
  }
  .main_title{
	  width:33%;
	  height:100%;

	  float:left;
	  padding-top:60px;
  }
  .main_data{
	  width:33%;
	  height:100%;

	  float:left;
	  padding-top:20px;
	  font-size:12px;
	  text-align:right;
  }
  
  .flex_row{
  	display:flex;
  	flex-direction:row;
  	flex-grow:1;
  	text-align:center;
  }
  .flex_col{
  	flex-grow:1;
  }
</style>

<div class="container">
	<div class="main_container">
		<div class="main_logo">
			<div class="vertex-logo">
				<img src="https://i.ibb.co/sg4pBjv/Logo.png">
	        </div>
		</div>
		<div class="main_title">
	        <h4 style="color: black;text-align: center; font-weight:bold;">
	          <strong>Vertex Job Portal</strong>
	        </h4>
	        <h4 class="color-black text-center" style="text-transform: uppercase;">
	          <div>
	            <strong>Weekly Timesheet</strong>
	          </div>
	        </h4>
		</div>
		<div class="main_data">
			<!-- Top Right Data  -->
		</div>
		<div class="clr"></div>
	</div>
	
	
	<!-- This is Employee info section that can only be shown if we are displaying data for only one employee -->

	
	<table border="0" style="width:80%;margin:0 auto">
    <tr>
      <td width="20%;"><strong>ID</strong></td>
      <td width="30%"><%= @employees.first.work_durations.first.display_id %></td>
      <td width="20%;"><strong>Period</strong></td>
      <td width="30%">
        <%= @start_date.strftime("%b %d, %Y") %> - <%= @end_date.strftime("%b %d, %Y") %>
      </td>
    </tr>

    <% if @employees.count <= 1 %>
		
		<tr>
      <td width="20%;font-weight:bold"><strong>Consultant</strong></td>
      <td width="30%"><%= @employees.first.name %></td>
      <td width="20%;font-weight:bold"><strong>Project</strong></td>
      <td width="30%"><%= @employees.first.job.blank? ? "(Not Assigned)" : @employees.first.job.title %></td>
    </tr>

		<tr>
			<td width="20%;"><strong>Client</strong></td>
			<td width="30%"><%= @employees.first.client.blank? ? "<Not Provided>" : @employees.first.client.company_name %></td>
			<td width="20%;font-weight:bold"><strong>Address</strong></td>
			<td width="30%"><%= @employees.first.client.blank? ? "<Not Provided>" : @employees.first.client.company_address %></td>
		</tr>
		<tr>
			<td width="20%;"><strong>Employer</strong></td>
			<td width="30%"><%= @employees.first.employer.blank? ? "<Not Provided>" : @employees.first.employer.company_name %></td>
			<td width="20%;font-weight:bold"><strong>Address</strong></td>
			<td width="30%"><%= @employees.first.employer.blank? ? "<Not Provided>" : @employees.first.employer.company_address %></td>
		</tr>
    <% end %> <!-- End of employee info -->
	</table>
	
	
	<% total_sheet_hours = 0 %>

	<% @employees.each do |emp| %>
		
		<% next if emp.was_active_between(@start_date, @end_date) %>

		<% total_hours = 0 %>

		<div style="margin-top:50px"> <b><%= emp.name %></b> </div>
		<div class="col-xs-12" style="margin-top:12px!important;">
			<table class="table table-striped col-xs-3 font-size-12">
				<!-- HEADERS -->
				<tr class="panel panel-default border_line cell-border">
					<th class="text-center col-xs-2">Submition Date</th>
					<th class="text-center col-xs-2">Consultant Name</th>
					<th class="text-center col-xs-2">Vendor</th>
					<th class="text-center col-xs-2">Time Period</th>
					<th class="text-center col-xs-2">Contract Type</th>
					<th class="text-center col-xs-2">Project</th>
					<th class="text-center col-xs-2">Total Hours</th>
					<th class="text-center col-xs-2">Status</th>
				</tr>


				<% wds = emp.work_durations.where(work_day: (@iteration_dates.last - 1.day)..@iteration_dates.first).to_a %>

				
				<% @iteration_dates.each do |date| %>

					<% wd = wds.select{ |wd| wd.work_day == date }.first %>
					<% wd = WorkDuration.new(work_day: date) if wd.blank? %>

					<!-- dont continue if employee was disabled before current date-->
					<% next if (emp.disabled? && (emp.disable_date < date)) %>

					<!-- dont continue if employee start_date was after current date-->
					<% start_date = (emp.job_start_date.blank? ? emp.created_at : emp.job_start_date) %>
					<% start_date.strftime("%b %d, %Y") %>
					<% break if start_date > date %>
					
					<tr>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= wd.created_at.blank? ? "-" : wd.created_at.strftime("%b %d, %Y") %>
						</td>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= emp.profile.name %>
						</td>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= wd.vendor.blank? ? "-" : wd.vendor.company_name %>
						</td>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= wd.work_day.strftime("%b %d, %Y") %> - <%= (wd.work_day + 4).strftime("%b %d, %Y") %>
						</td>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= wd.contract_type.blank? ? "-" : wd.contract_type %>
						</td>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= wd.job.blank? ? "-" : wd.job.title %>
						</td>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= th = wd.id.blank? ? 0 :wd.total_hours_array_with_limits(@start_date, @end_date) %>
							<%# th = wd.id.blank? ? 0 : wd.fetch_hours_array.inject(:+) %>
							<% total_hours += th %>
						</td>
						<td class="defult-border-left defult-border-right tr1 text-center">
							<%= wd.time_sheet_status %>
						</td>
					</tr>
				<% end %>
				<tr style="background-color:#EEE">
					<td class="defult-border-left defult-border-right tr1 text-center"></td>
					<td class="defult-border-left defult-border-right tr1 text-center"></td>
					<td class="defult-border-left defult-border-right tr1 text-center"></td>
					<td class="defult-border-left defult-border-right tr1 text-center"></td>
					<td class="defult-border-left defult-border-right tr1 text-center"></td>
					<td class="defult-border-left defult-border-right tr1 text-center"></td>
					<td class="defult-border-left defult-border-right tr1 text-center">
						<b><%= total_hours %></b>
						<% total_sheet_hours += total_hours %>
					</td>
					<td class="defult-border-left defult-border-right tr1 text-center"></td>
				</tr>
			</table>
		</div>
	<% end %>

  <table class="table table-striped col-xs-3 font-size-12">
    <tr style="background-color:#EEE">
      <td class="defult-border-left defult-border-right tr1 text-right"><b>Sheet Total: <%= total_sheet_hours %></b></td>
    </tr>
  </table>
  

	<!-- Keeping here to for future  -->
	<% if false %>

		<div class="col-xs-12" style="margin-top:12px!important;background:#EEE;border:1px solid #DDD;padding:10px">
			<center>
				<b style="font-size:16px">NO DATA SET AVAILABE</b><br />
				<i style="font-size:12px">update filter parameters and try again</i>
			</center>
		</div>

	<% end %>

</div>
