<% if !defined?(allow_submit) %>
<% allow_submit = true %>
<% end %>


<% if profile.errors.any?%>
<div id="error_explanation">
  <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @user.present? and @user.try(:errors).any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  
<% def show_field(form, field, title, required=false) %>
	<b><%= title %>:</b>
	<%= form.text_field field, :required => required %>
<% end %>
<% def show_integer_field(form, field, title, required=false) %>
	<b><%= title %>:</b>
	<%= form.number_field field, :required => required %>
<% end %>

<%= form_with(model: profile, local: true) do |form| %>

<div class="page_title"> Profile Details </div>
<div class="flex_col">
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :first_name, "First Name", true) %>
		</div>
		<div class="flex_col">
			<% show_field(form, :middle_name, "Middle Name") %>
		</div>
		<div class="flex_col">
			<% show_field(form, :last_name, "Last Name") %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<b>Phone Number 1:</b>
			<%= form.telephone_field :phone1, :placeholder=>"123-456-6789", :pattern=>"[0-9]{3}-[0-9]{3}-[0-9]{4}", :required=>true %>
		</div>
		<div class="flex_col">
			<b>Phone Number 2:</b>
			<%= form.telephone_field :phone2, :placeholder=>"123-456-6789", :pattern=>"[0-9]{3}-[0-9]{3}-[0-9]{4}"%>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :email, "Email", true) %>
		</div>
		<div class="flex_col">
			<% show_field(form, :password, "Password", !profile.user.present?) %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :address, "Address") %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :country, "Country") %>
		</div>
		<div class="flex_col">
			<% show_field(form, :state, "State") %>
		</div>
		<div class="flex_col">
			<% show_field(form, :city, "City") %>
		</div>
		<div class="flex_col">
			<% show_integer_field(form, :zip_code, "Zip Code") %>
		</div>
	</div>
    <% if false && (current_user.is_admin? || current_user.is_account_manager?) %>
    
  	<div class="flex_row" >
		<div class="flex_col">
			<b>Role:</b>
			<%= form.select :user_type, options_for_select([['Account Manager','7392'],['Employee','445'],['Vendor','2623'],["Assistant","6523"],["Employer","3396"]], :selected => profile.user_type), {}, { :class => 'span3 controls controls-row' } %>
		</div>
	</div>
	<% else %>
	<%= form.hidden_field :user_type, { :value => Profile.role_id(params[:role]) } %>
	<% end %>
	
	<% if allow_submit %>
	<div class="flex_row">
		<div class="flex_col" style="text-align:right">
			<%= form.submit "Submit", :class=>"submit_button" %>
		</div>
	</div>
	<% end %>
</div>


<% end %>
