<script>
	$(document).ready(function() {
		$('#generate_report_button').click(function(event){
			event.preventDefault();
			//do whatever
			var searchString = window.location.search.substring(1);
			var params = searchString.split("?");
			
			var final_string = "";
			// alert(params);
// 			if (window.location.toString().includes("?")){
// 				final_string = $(this).attr("href") + "&" + searchString;
// 			} else {
// 				final_string = $(this).attr("href") + "?" + searchString;
// 			}
			final_string = $(this).attr("href") + "?" + params;
			location.href = final_string;
		});
		
		/*
			This event calculates the total number of hours as the the user is typing them in the textfields
			this even will be triggerd for any textfield with class .hours_value (using class because name is being generated dynamically)
			when triggered it will look for attribute "siblings" in text field and fetch value for all textfields having class name as value provided in "siblings" attribute
			(Meaning fields that need to be summed will have the same class added to them and each field will have that class accessible through attribute "siblings")
			Then we fetch the attribute value for "result_id" and update the value of div with id same as the one given by "result_id" with sum that was calculated earlier
		*/
		$( ".hours_value" ).keyup(function(){
        	query = $(this).val();
			
			
			jip = $.map($("."+$(this).attr("siblings")) , function( val, i ) {
				return parseInt($(val).val())
			});
			
			sum = 0
			$.each(jip, function(i, v) {
		        sum += parseInt(v) || 0;
		    });
			
			$("#"+$(this).attr("result_id")).html(sum);
//			alert(query);
		});
		
		/*
			This event just hides and shows the larger image.
			Will be updated to load image with ajax call in future.
		*/
		$('.calendar-picture').click(function() {
			var name = "#"+$(this).attr('full_image');
			$(name).show();
			
	    });
		
		$('.full-image-bg').click(function() {
			$(this).hide();
		});
		
		/*
			This event enables/disables submit buttons based on file is selected or not
		*/
		$(".timesheet_field").change(function (){
	       var fileName = $(this).val();
		   if (fileName != null || fileName != ""){
			   $("#submit_options_" + $(this).attr("index") ).show();
			   $("#submit_message_" + $(this).attr("index") ).hide();
		   } else {
			   $("#submit_options_" + $(this).attr("index") ).hide();
			   $("#submit_message_" + $(this).attr("index") ).show();
		   }
	       
	     });
		/*
			This is the ajax call that dynamically submits and updated the aprroved or rejected status
		*/
		$('.time_sheet_action_link').click(function(e) {
		    e.preventDefault();
		    //do other stuff when a click happens
			//link: work_durations/update_duration_status
			// id="time_sheet_action_link"
			// action="reject"
			//alert("Hallo me friendo");
			
			
			var link = $(this).prop("href");
			var status = $(this).attr("action");
			var id = $(this).attr("action_id");
			var status_div = $(this).attr("status_div");
			
			var reason_text = "";
			if (status == "rejected") {
				reason_text = prompt("Provide Reason for Rejection", "");
			}
			
			//alert(link + " - " + status + " - " + id);
			$("#action_buttons_container_"+id).hide();
			$("#action_loader_container_"+id).show();
			
			$.ajax({
 			  url: link,
 			  type: 'PUT',
			  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
 			  data: "status="+status+"&action_id="+id+"&reason="+reason_text,
 			  success: function(data) {
 			    
				  				
				if($.trim(data["result"]) == "true"){
	  				$("#action_buttons_container_"+data["id"]).hide();
	  				$("#action_loader_container_"+data["id"]).hide();
					
					//alert("status div: status-div-"+data["id"]);
					
					$("#status-div-"+data["id"]).html(data["status"].toUpperCase());
					$("#status-div-"+data["id"]).removeClass('pending');
					$("#status-div-"+data["id"]).addClass(data["status"]);
				} else {
					alert("Failed to update status. Please try again.");
					$("#action_buttons_container_"+data["id"]).show();
					$("#action_loader_container_"+data["id"]).hide();
				}
				
 			  },
			  error: function (data) {
   			    alert('Failed to update status.' + JSON.stringify(data));
  				$("#action_buttons_container_"+data["id"]).show();
  				$("#action_loader_container_"+data["id"]).hide();
              }
			  
			});
		});
	});
</script>
	
<%= csrf_meta_tag %>
	
<% if !defined?(can_update) %>
	<% can_update = false %>
<% end %>
	
<% if !defined?(can_update_all) %>
	<% can_update_all = false %>
<% end %>
	
<% if !defined?(can_act) %>
	<% can_act = false %>
<% end %>
	
<% if !defined?(show_unsubmitted) %>
	<% show_unsubmitted = true %>
<% end %>
	
<% if !defined?(show_employee_info) %>
	<% show_employee_info = true %>
<% end %>
	
<% if !defined?(show_filters) %>
	<% show_filters = false %>
<% end %>
	
<% if !defined?(show_pastdue) %>
	<% show_pastdue = true %>
<% end %>
	
<% if !defined?(show_reopened) %>
	<% show_reopened = true %>
<% end %>
	
<% if !defined?(show_each_day) %>
	<% show_each_day = false %>
<% end %>
	
<% if !defined?(show_submitted_date) %>
	<% show_submitted_date = true %>
<% end %>
	
<% if !defined?(show_contract_type) %>
	<% show_contract_type = true %>
<% end %>
	
<% if !defined?(show_project_name) %>
	<% show_project_name = true %>
<% end %>
	
<% if !defined?(ignore_filters) %>
	<% ignore_filters = false %>
<% end %>
	
<% if !defined?(employee) %>
	<% employee = nil %>
<% end %>
	
<% if !defined?(show_actionables_actmgr) %>
	<% show_actionables_actmgr = false %>
<% end %>
	
<% if !defined?(show_actionables_consultant) %>
	<% show_actionables_consultant = false %>
<% end %>

<% if !defined?(record_limit) %>
	<% record_limit = 10 %>
<% end %>
	
	
<% today = Date.today %>
<% @days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map %> 

<% if show_filters %>

	<div class="info_print_employee flex_row">
		<div class="flex_col">
			<%= link_to "Generate Report", timesheet_report_account_managers_url(eid:@employee.blank? ? nil : @employee.id,format:"pdf"), class: "button_link", id:"generate_report_button" %>
		</div>
		<div class="flex_col">
			
		</div>
		
		<% if show_employee_info %>
			<div class="flex_col" style="padding:0px 10px">
				<%= select_tag 'employee_filter',
					options_from_collection_for_select(Employee.all, "id", "name", params["emp"]),
					class: 'form-control filter_field',
					id: "employee_filter",
					filter_name: "emp",
					prompt: "Consultant" 
				%>
			</div>
		<% end %>
		
		<% if show_contract_type %>
			<div class="flex_col" style="padding:0px 10px">
				<%= select_tag 'employee_filter',
					options_for_select(contract_types, params["contract"]),
					class: 'form-control filter_field',
					id: "contract_filter",
					filter_name: "contract",
					prompt: "Contract Type" 
				%>
			</div>
		<% end %>
		
		<% if show_employee_info %>
			<div class="flex_col" style="padding:0px 10px">
				<%= select_tag 'vendor_filter',  
					options_from_collection_for_select(Vendor.all, "id", "name", params["vendor"]),
					class: 'form-control filter_field', 
					id: "vendor_filter",
					filter_name: "vendor",
					prompt: "Vendor" 
				%>
			</div>
		<% end %>
			
		<div class="flex_col" style="padding:0px 10px">
			<%= text_field_tag 'time_sheet_date_range',
				@date,
				class: 'form-control daterange',
				id:"date-range-work",
				placeholder: "Date Filter",
				value: params["from_date"].present? ? "#{params["from_date"]} to #{params["to_date"]}" : "Select Date"
			%>
		</div>
		
		<div class="flex_col" style="padding:0px 10px;max-width: 100px;">
			<% sheet_link = current_user.is_employee? ? "/employees/#{current_user.profile.employee.id}?order=status" : "/account_managers/time_sheet_approval?order=status" %>
			<a href="<%= sheet_link %>" style="background:transparent;line-height:36px"> clear filters </a>
		</div>
	</div>
	
<% end %>



<% def sortable_header(title, sort_value) %>
	<% if params["order"].present? && params["order"] == sort_value %>
  	<i class="material-icons" style="display: inline-flex;vertical-align: top;line-height:16px;">arrow_drop_down</i>
	<%= title %>
	<% else %>
	<span style="font-size:12px;line-height:14px;"><%= link_to title, url_for( :order => sort_value ), :style=>"color:#FFF !important" %></span>
	<% end %>
<% end %>

<div class="row top">
	<% if show_submitted_date %>
		<div class="col col8"> Submitted Date </div>
  	<% end %>
	
	<% if show_employee_info %>
		<div class="col col8">
			<% sortable_header("Consultant Name", "employee") %>
		</div>
		
		<div class="col col8">
			<% sortable_header("Vendor", "vendor") %>
		</div>
	<% end %>
	
	<div class="col col-5">
		<% sortable_header("Time Period", "period") %>
	</div>
	
	<% if show_contract_type %>
		<div class="col col8">
			Contract Type
		</div>
	<% end %>
	
	<% if show_project_name %>
		<div class="col col8">
			<% sortable_header("Project", "project") %>
		</div>
	<% end %>
	
	<% if show_each_day %>
		<% for day in (today.at_beginning_of_week..today.at_end_of_week).to_a.take(5).map.each { |day| day } do %>
			<div class="col col8">
				<%= day.strftime("%a") %>
			</div>
		<% end %>
	<% end %>
	
	<div class="col col8"> 
		Total Hours
	</div>
	
	<div class="col col8">
		Timesheet / Screenshot
	</div>
	
	<div class="col col8">
		<% sortable_header("Status", "status") %>
	</div>
	
	<% if can_act %>
		<div class="col col12">
			Actions
		</div>
	<% end %>
	
	<div style="clear:both"></div>
	
</div>

<!-- SHOW ACTIONABLES-->
<%
	if show_actionables_actmgr
		actionable_work_durations = WorkDuration.where("extract(dow from work_day) = ?", 1).where(time_sheet_status: ["pending", "resubmitted"])
	elsif show_actionables_consultant
		# 62203BB : changed "WorkDuration.where" to "work_durations.where"
		actionable_work_durations = work_durations.where("extract(dow from work_day) = ?", 1).where(time_sheet_status: ["reopened"])
	end
%>

<% if (show_actionables_actmgr || show_actionables_consultant) && actionable_work_durations.count > 0 %>
	<div class="cal_sub_heading"> Actionable Timesheets </div>
	
	<% actionable_work_durations.each_with_index do |wd, loop_index|%>
		
		<%# button_to "#{wd.id}: delete", {:controller => :work_durations, :action => 'destroy', :id => wd.id }, :method => :delete %>
		
		<% allow_update = can_update_all &&  (can_update && (!wd.is_past_due_date? || wd.is_reopened?) && wd.should_update?) %>
		
		<%= form_tag work_durations_path, multipart: true, style: "margin:0px;width:100%;padding:0px;"  do %>
			<div class="<%= allow_update ? "parent-toggle" : "" %> gg" data-index="g<%=loop_index%>">
				<div class="row row_hover_highlight">
					<% if show_submitted_date %>
						<div class="col col8 mt-3">
							<%= wd.updated_at.blank? ? "-" : wd.updated_at.strftime("%b %d, %Y") %>
						</div>
					<% end %>
					
					<% if show_employee_info %>
						<div class="col col8 mt-3">
							<%= wd.employee.profile.name %>
						</div>
						
						<div class="col col8 mt-3">
							<%= wd.vendor.blank? ? "<Not Provided>" : wd.vendor.name %>
						</div>
					<% end %>
					
					<div class="col col-5 mt-3">
						<% if wd.time_sheet_status  == "unsubmitted" && !wd.is_past_due_date? %>
							<%= wd.work_day.strftime("%b %d, %Y") %> - <%= (wd.work_day + 4).strftime("%b %d, %Y") %>
						<% else %>
							<%= link_to wd do %>
								<%= wd.work_day.strftime("%b %d, %Y") %> - <%= (wd.work_day + 4).strftime("%b %d, %Y") %>
							<% end %>
						<% end %>
					</div>
					
					<% if show_contract_type %>
						<div class="col col8 mt-3">
							<%= wd.employee.contract_type.blank? ? "<Not Provided>" : wd.employee.contract_type %>
						</div>
					<% end %>
					
					<% if show_project_name %>
						<div class="col col8 mt-3">
							<%= wd.employee.active_postings.count <= 0? "(Not Assigned)" : wd.employee.active_postings.first.job.title %>
						</div>
					<% end %>
					
					<% if show_each_day %>
						<% wd.all_days.each do |day| %>
							<div class="col col8 labeled-toggle-g<%=loop_index%>">
								<label class="mt-3 " for="work_duration_a1">
									<%= day.hours %>
								</label>
							</div>
							
							<div class="col col8 field-toggle-g<%=loop_index%>" style="display:none">
								<label class="mt-3 label-duration-1" for="work_duration_a1">
									<%= d_int = day.work_day.strftime("%d").to_i %>
									<% if d_int == 1 %> st
									<% elsif d_int == 2 %> nd
									<% elsif d_int == 3 %> rd
									<% else %> th
									<% end %>
									
									<%= number_field_tag :thought_author, "", :name => "wds[][#{day.work_day.strftime("%b,%d,%Y")}]", :value => day.hours, :min=>"0", :max=>"12", :class=>"hours_value hours_value_g#{loop_index}", :result_id=>"total_g#{loop_index}", :siblings=>"hours_value_g#{loop_index}", :style=>"min-width:60px" %> <br />
								</label>
							</div>
							
						<% end %> <!-- END OF wd.all_days loop -->
					<% end %> <!-- END OF if show_each_day -->
					
					<div class="col col8 labeled-toggle-g<%=loop_index%>">
						<label class="mt-3 label-duration-1" for="work_duration_a1">
							<%= wd.id.blank? ? "-" : wd.all_days.map{|wd|wd.hours}.inject(0, :+) %>
						</label>
					</div>
					
					<div class="col col8 field-toggle-g<%=loop_index%>" style="display:none">
						<label class="mt-3 label-duration-1" for="work_duration_a1", id="total_g<%=loop_index%>">
							<%= wd.id.blank? ? "0" : wd.all_days.map{|wd|wd.hours}.inject(0, :+) %>
						</label>
					</div>
					
					<div class=" col col8">
						<div class="calendar-picture" full_image="full-image-bg-g<%=loop_index%>">
							<img src="<%=  wd.timesheet_screenshot.attached? ? url_for(wd.timesheet_screenshot) : ""  %>" class="picture-src" id="wizardPicturePreview" title="" style="background:white">
						</div>
					</div>
					
					<div class="full-image-bg" id="full-image-bg-g<%=loop_index%>" style="display:none;position:fixed">
						<div class="full-image">
							<img src="<%= wd.timesheet_screenshot.attached? ? url_for(wd.timesheet_screenshot) : "" %>" class="picture-src" id="wizardPicturePreview" title=""  style="background:white">
						</div>
					</div>
					
					<div class="test1 col col8 mt-3 <%= !wd.is_past_due_date? ? wd.time_sheet_status : "" %>" id="status-div-<%=wd.id%>">
						<% if wd.is_past_due_date? && !wd.is_reopened? && !wd.is_resubmitted? %>
							<label style="color:red">
								PASSED DUE DATE <br /><%= wd.time_sheet_status %>
							</label>
						<% else %>
							<%= wd.time_sheet_status.upcase %>
						<% end %>
					</div>
					
					<% if can_act %>
						<div class="col col12">
							<% if  (!wd.is_past_due_date? && wd.is_pending?) || wd.is_resubmitted? %>
								<div class="action_buttons_parent" id="action_buttons_container_<%=wd.id%>">
									<div class="action_button_container approve">
										<div class="action_button_div">
											<a href="/work_durations/update_duration_status.json" class="time_sheet_action_link" action="approved" action_id="<%=  wd.id %>">
												<i class="material-icons time_sheet_action">check_circle</i> 
											</a>
										</div>
										<div class="action_button_title"> Approve </div>
									</div>
									
									<div class="action_button_container reject">
										<div class="action_button_div">
											<a href="/work_durations/update_duration_status.json" class="time_sheet_action_link" action="rejected" action_id="<%=  wd.id %>">
												<i class="material-icons time_sheet_action">cancel</i>
											</a>
										</div>
										<div class="action_button_title"> Reject</div>
									</div>
								</div>
								
								<div class="action_button_container" id="action_loader_container_<%= wd.id%>" style="display:none">
									<div class="action_button_div">
										<div class="loader"></div>
									</div>
									<div class="action_button_title"> Updating Status. Please wait. </div>
								</div>
								
							<% elsif wd.is_past_due_date? &&  !wd.is_reopened? %>
								
								<div class="action_button_container reject" style="margin-left:40px">
									<a href="/work_durations/reopen_timesheet/<%=wd.id%>">
										<div class="action_button_div">
											<i class="material-icons time_sheet_action">lock_open</i>
										</div>
										<div class="action_button_title"> Reopen </div>
									</a>
								</div>
								
							<% end %>
						</div>
					<% end %>
					
					
				</div>
				
				<div class="row" id="toggle-row-g<%=loop_index%>" style="display:none;">
					<div class="section">
						<div>
							<label for="file">
								<b>Upload timesheet/screenshot</b>
							</label>
							
							<br/>
							
							<%= file_field_tag :timesheet_screenshot, required: !wd.timesheet_screenshot.attached?, :style=>"width:100%", :class => "timesheet_field", :index => loop_index, :accept=>"image/*,application/pdf" %>
						
						</div>
						
						<b> Certification </b>
						<br/>
						
						<ul>
							<li> By submitting this, I agree that the information provided in the screen is accurate.I certify that the company has all the breaks as agreed upon. </li>
						</ul>
					</div>
					
					<div class="section actions" style="width:330px">
						<% if @employee != nil %>
							<%= hidden_field_tag :eid, @employee.id %>
							<%= hidden_field_tag :pid, wd.project.id %>
						<% end %>
						
						<div id="submit_options_<%=loop_index%>" style="display:<%= wd.timesheet_screenshot.attached? ? "block" : "none" %>" %>
							
							<%= submit_tag "Save For Later", name: "save_for_later", class: "btn", style:"margin:0px 4px 4px 0px;min-width: 150px;", :disabled => wd.is_reopened? %>
							
							<% if wd.work_day.end_of_week - 2 > Date.today %> 
								Cannot submit until weeks end.
							<% else %>
								<%= submit_tag "Submit", class: "btn", style: "width:35%;min-width: 150px;" %>
							<% end %>
						
						</div>
						<div id="submit_message_<%=loop_index%>" style="display:<%= wd.timesheet_screenshot.attached? ? "none" : "block" %>" >
							Select Timesheet Image
						</div>
					</div>
					<div class="clr"></div>
				</div>
				
			</div>
		<% end %><!-- END - form -->
		
	<% end %> <!-- END - end of actionable_work_durations loop -->
	
	<div class="cal_sub_heading"> All Timesheets </div>
	
<% end %>

<!-- SHOW Complete DATA -->


<%
	# Fetch the work day for the last work_duration, This will be used as end_date is end_date is not specified through filter
	#last_record = WorkDuration.order(:created_at).first
	
	employees = (params[:emp].blank? || params[:emp] == "") ? (employee.blank? ? Employee.all : [employee] ) : [Employee.find(params[:emp].to_i)]
	
	# Start date is the higher of two dates ... may 30 is higher then may 2 but lower then june 2
	start_date = (params[:to_date].present? ? params[:to_date].to_date : Date.today.beginning_of_week)
	
	curr_date = (params[:curr_date].present? ? params[:curr_date].to_date : start_date)
	
	curr_end = (employees.count > 1 ? curr_date : (curr_date - (record_limit * 6)) )
	
	end_date = params[:from_date].present? ? params[:from_date].to_date : WorkDuration.order(:work_day).pluck(:work_day).first
	if curr_end < end_date
		curr_end = end_date
	end
	
	if employees.count > 1
		work_durations = employees.map {|e|
			wd = e.work_durations.where(:work_day => curr_date.beginning_of_week).first 
			if wd.blank?
				WorkDuration.new(:employee => e, :work_day => curr_date.beginning_of_week, :time_sheet_status => :unsubmitted)
			else
				wd
			end
		}
	else
		work_durations = (curr_date.beginning_of_week.downto(curr_end)).to_a.select {|k| k.wday == 1 }.map {|d|
			wd = employees.first.work_durations.where(:work_day => d).first 
			if wd.blank?
				WorkDuration.new(:employee => employees.first, :work_day => d.beginning_of_week, :time_sheet_status => :unsubmitted)
			else
				wd
			end
		}
	end
	
	
	
	
	# def fetch_records(employees, date, end_date, starting_array, limit_rows)
	# 	result_arr = starting_array
	# 	employees.each do |emp|
	# 		wd = emp.work_durations.where(:work_day => date.beginning_of_week).first
	# 		if wd.blank?
	# 			result_arr << WorkDuration.new(:employee => emp, :work_day => date, :time_sheet_status => :unsubmitted)
	# 		else
	# 			result_arr << wd
	# 		end
	# 	end
	#
	# 	if result_arr.count < limit_rows && (end_date == nil || end_date < date.last_week.end_of_week)
	# 		return fetch_records(employees, (date.last_week),end_date, result_arr, limit_rows)
	# 	else
	# 		return result_arr
	# 	end
	# end
	#
	# work_durations = fetch_records(employees, curr_date, end_date, [], record_limit)
	
%>

<% work_durations.each_with_index do |wd, loop_index| %>

	<% allow_update = can_update_all &&  (can_update && (!wd.is_past_due_date? || wd.is_reopened?) && wd.should_update?) %>
	<%= form_tag work_durations_path, multipart: true, style: "margin:0px;width:100%;padding:0px;"  do %>
		<div class="<%= allow_update ? "parent-toggle" : "" %> gg" data-index="<%=loop_index%>">
			<div class="row row_hover_highlight">
				<% if show_submitted_date %>
					<div class="col col8 mt-3">
						<%= wd.updated_at.blank? ? "-" : wd.updated_at.strftime("%b %d, %Y") %>
					</div>
				<% end %>
			
				<% if show_employee_info %>
		    		<div class="col col8 mt-3">
						<%= wd.employee.profile.name %>
					</div>
					<div class="col col8 mt-3">
						<%= wd.vendor.blank? ? "<Not Provided>" : wd.vendor.name %>
					</div>
				<% end %>
				
				<div class="col col-5 mt-3">
					<% if wd.time_sheet_status  == "unsubmitted" && !wd.is_past_due_date? %>
						<%= wd.work_day.strftime("%b %d, %Y") %> - <%= (wd.work_day + 4).strftime("%b %d, %Y") %>
					<% else %>
						<%= link_to wd do %>
							<%= wd.work_day.strftime("%b %d, %Y") %> - <%= (wd.work_day + 4).strftime("%b %d, %Y") %>
						<% end %>
					<% end %>
				</div>
				
				<% if show_contract_type %>
					<div class="col col8 mt-3">
						<%= wd.employee.contract_type.blank? ? "<Not Provided>" : wd.employee.contract_type %>
					</div>
				<% end %>
				
				<% if show_project_name %>
					<div class="col col8 mt-3">
						<%= wd.employee.active_postings.count <= 0? "(Not Assigned)" : wd.employee.active_postings.first.job.title %>
					</div>
				<% end %>
				
				<% if show_each_day %>
					<% wd.all_days.each do |day| %>
						<div class="col col8 labeled-toggle-<%=loop_index%>">
							<label class="mt-3 " for="work_duration_a1">
								<%= day.hours %>
							</label>
						</div>
						<div class="col col8 field-toggle-<%=loop_index%>" style="display:none">
							<label class="mt-3 label-duration-1" for="work_duration_a1">
								<%= d_int = day.work_day.strftime("%d").to_i %>
								<% if d_int == 1 %> st
								<% elsif d_int == 2 %> nd
								<% elsif d_int == 3 %> rd
								<% else %> th
								<% end %>
								
								<%= number_field_tag :thought_author, "", :name => "wds[][#{day.work_day.strftime("%b,%d,%Y")}]", :value => day.hours, :min=>"0", :max=>"12", :class=>"hours_value hours_value_#{loop_index}", :result_id=>"total_#{loop_index}", :siblings=>"hours_value_#{loop_index}", :style=>"min-width:60px" %> <br />
							</label>
						</div>
					<% end %> <!-- END OF wd.all_days loop -->
				<% end %> <!-- END OF if show_each_day -->
				
				<div class="col col8 labeled-toggle-<%=loop_index%>">	
					<label class="mt-3 label-duration-1" for="work_duration_a1">
						<%= wd.id.blank? ? "-" : wd.all_days.map{|wd|wd.hours}.inject(0, :+) %>
					</label>
				</div>
				
				<div class="col col8 field-toggle-<%=loop_index%>" style="display:none">
					<label class="mt-3 label-duration-1" for="work_duration_a1", id="total_<%=loop_index%>">
						<%= wd.id.blank? ? "0" : wd.all_days.map{|wd|wd.hours}.inject(0, :+) %>
					</label>
				</div>
				
				<div class=" col col8">
					<div class="calendar-picture" full_image="full-image-bg-<%=loop_index%>">
						<img src="<%=  wd.timesheet_screenshot.attached? ? url_for(wd.timesheet_screenshot) : ""  %>" class="picture-src" id="wizardPicturePreview" title="" style="background:white">
					</div>
				</div>
				
				<div class="full-image-bg" id="full-image-bg-<%=loop_index%>" style="display:none;position:fixed">
					<div class="full-image">
						<img src="<%= wd.timesheet_screenshot.attached? ? url_for(wd.timesheet_screenshot) : "" %>" class="picture-src" id="wizardPicturePreview" title=""  style="background:white">
					</div>
				</div>
				
				<div class="test1 col col8 mt-3 <%= !wd.is_past_due_date? ? wd.time_sheet_status : "" %>" id="status-div-<%=wd.id%>">
					<% if wd.is_past_due_date? && !wd.is_reopened? && !wd.is_resubmitted? %>
						<label style="color:red">
							PASSED DUE DATE <br /><%= wd.time_sheet_status %>
						</label>
					<% else %>
						<%= wd.time_sheet_status.upcase %>
					<% end %>
				</div>
				
				<% if can_act %>
					<div class="col col12">
						<% if  (!wd.is_past_due_date? && wd.is_pending?) || wd.is_resubmitted? %>
							<div class="action_buttons_parent" id="action_buttons_container_<%=wd.id%>">
								<div class="action_button_container approve">
									<div class="action_button_div">
										<a href="/work_durations/update_duration_status.json" class="time_sheet_action_link" action="approved" action_id="<%=  wd.id %>">
											<i class="material-icons time_sheet_action">check_circle</i> 
										</a>
										
									</div>
									<div class="action_button_title"> Approve </div>
								</div>
								
								<div class="action_button_container reject">
									<div class="action_button_div">
										<a href="/work_durations/update_duration_status.json" class="time_sheet_action_link" action="rejected" action_id="<%=  wd.id %>">
											<i class="material-icons time_sheet_action">cancel</i>
										</a>
									</div>
									<div class="action_button_title"> Reject </div>
								</div>
							</div>
							
							<div class="action_button_container" id="action_loader_container_<%= wd.id%>" style="display:none">
								<div class="action_button_div">
									<div class="loader"></div>
								</div>
								<div class="action_button_title"> Updating Status. Please wait. </div>
							</div>
							
						<% elsif wd.is_past_due_date? &&  !wd.is_reopened? %>
							
							<div class="action_button_container reject" style="margin-left:40px">
								<%= link_to update_duration_status_work_durations_path(emp: wd.employee.id, date: wd.work_day, status: "reopened"), :method=> :put  do %>
								<!-- <a href="/work_durations/reopen_timesheet<%= wd.id.blank? ? "" : "/#{wd.id}" %>?date=<%= wd.work_day %>&emp=<%= wd.employee.id %>">  -->
									<div class="action_button_div">
										<i class="material-icons time_sheet_action">lock_open</i>
									</div>
									<div class="action_button_title"> Reopen </div>
								<!-- </a> -->
								<% end %>
							</div>
							
						<% end %>
					</div>
				<% end %>
				
				<div class="clr"></div>
			</div>
			<div class="row" id="toggle-row-<%=loop_index%>" style="display:none;">
				<div class="section">
					<div>
						<label for="file">
							<b>Upload timesheet/screenshot</b>
						</label>
						<br/>
						
						<%= file_field_tag :timesheet_screenshot, required: !wd.timesheet_screenshot.attached?, :style=>"width:100%", :class => "timesheet_field", :index => loop_index, :accept=>"image/*,application/pdf" %>
					
					</div>
					
					<b> Certification </b> 
					
					<br/>
					
					<ul>
						<li> By submitting this, I agree that the information provided in the screen is accurate.I certify that the company has all the breaks as agreed upon. </li>
					</ul>
				
				</div>
				
				<div class="section actions" style="width:330px">
					
					<% if @employee != nil %>
						<%= hidden_field_tag :eid, @employee.id %>
						<%= hidden_field_tag :pid, wd.project.id %>
					<% end %>
					
					<div id="submit_options_<%=loop_index%>" style="display:<%= wd.timesheet_screenshot.attached? ? "block" : "none" %>" %>
						
						<%= submit_tag "Save For Later", name: "save_for_later", class: "btn", style:"margin:0px 4px 4px 0px;min-width: 150px;", :disabled => wd.is_reopened? %>
						
						<% if wd.work_day.end_of_week - 2 > Date.today %> 
							Cannot submit until weeks end.
						<% else %>
							<%= submit_tag "Submit", class: "btn", style: "width:35%;min-width: 150px;" %>
						<% end %>
					
					</div>
				<div id="submit_message_<%=loop_index%>" style="display:<%= wd.timesheet_screenshot.attached? ? "none" : "block" %>" >
					Select Timesheet Image
				</div>
			</div>
		</div>
	</div>
	<% end %><!-- END - form -->
	
<% end %><!-- END - work_durations loop -->

<% if show_filters %>
	<div style="text-align:right;padding:10px 20px">
		<% if start_date > curr_date %>
			<% prev_start = (curr_date.beginning_of_week + (record_limit * 6)) %>
			
			<% prev_start = prev_start > start_date ? start_date : prev_start %>
			<% if params[:from_date].present? %>
				<%= link_to "<next", url_for(to_date: start_date, from_date: end_date, curr_date: prev_start) %>
			<% else %>
				<%= link_to "<next", url_for(to_date: start_date, curr_date: prev_start) %>
			<% end %>
			-
		<% end %>

		<% if curr_end > end_date %>
			<% if params[:from_date].present? %>
				<%= link_to "prev>", url_for(to_date: start_date, from_date: end_date, curr_date: curr_end.last_week) %>
			<% else %>
				<%= link_to "prev>", url_for(to_date: start_date, curr_date: curr_end.last_week) %>
			<% end %>
		<% end %>
	</div>
<% end %>























<% if false %>
ED: <%= end_date %>
	<div style="text-align:right;padding:10px 20px">
	
		<% if params[:from_date].present? && (params[:from_date].to_date < Date.today.beginning_of_week) %>
			<%= link_to "<<", time_sheet_approval_account_managers_path() %>
			|
	
			<% if params[:emp].present? %>
				<% sd = ((params[:from_date].present? ? params[:from_date].to_date : Date.today.beginning_of_week) + (5 * 9)).beginning_of_week %>
				<%= link_to "<#{sd.strftime("%b %d, %Y")}", time_sheet_approval_account_managers_path(:from_date => sd) %>
			<% else %>
				<% sd = ((params[:from_date].present? ? params[:from_date].to_date : Date.today.beginning_of_week) + 7).beginning_of_week %>
				<%= link_to "<#{sd.strftime("%b %d, %Y")}", time_sheet_approval_account_managers_path(:from_date => sd) %>
			<% end %>
			-
		<% end %>
	
		<% if params[:emp].present? || !@employee.blank? %>
			<% sd = ((params[:from_date].present? ? params[:from_date].to_date : Date.today.beginning_of_week) - (6 * (record_limit - 1))).beginning_of_week %>
			<%# link_to "#{sd.strftime("%b %d, %Y")}>", time_sheet_approval_account_managers_path(:from_date => sd) %>
			<%= link_to "#{sd.strftime("%b %d, %Y")}>", url_for(:from_date => sd) %>
		<% else %>
			<% sd = ((params[:from_date].present? ? params[:from_date].to_date : Date.today.beginning_of_week) - 7).beginning_of_week %>
			<%# link_to "#{sd.strftime("%b %d, %Y")}>", time_sheet_approval_account_managers_path(:from_date => sd) %>
			<%= link_to "#{sd.strftime("%b %d, %Y")}>", url_for(:from_date => sd) %>
		<% end %>
	</div>
<% end %>
























































<!-- Blocking old code - Everything below will be deleted the next patch-->
<% if false %>

<%
#work_durations = WorkDuration.all
	records_per_page = 10

	page = params[:page].to_i
	if page.blank?
		page = 0
	end

	wds = work_durations.where("extract(dow from work_day) = ?", 1)

	if !ignore_filters

		wds = wds.order("created_at DESC") if !params[:order].present? || params[:order] == ""

		wds = wds.order(time_sheet_status: :desc, work_day: :desc) if params[:order].present? && params[:order] == "status"

		#wds = wds.priority_order if params[:order].present? && params[:order] == "status"

		wds = wds.joins(:project).order("projects.employee_id DESC") if params[:order].present? && params[:order] == "employee"
		wds = wds.joins(:project).order("projects.vendor_id DESC") if params[:order].present? && params[:order] == "vendor"
		wds = wds.joins(:project).order("projects.id DESC") if params[:order].present? && params[:order] == "project"

		wds = wds.where("work_day >= ?" , params[:from_date].to_date.beginning_of_week) if params[:from_date].present? && params[:from_date] != ""
		wds = wds.where("work_day <= ?" , params[:to_date].to_date.beginning_of_week) if params[:to_date].present? && params[:to_date] != ""

		wds = wds.joins(:project).where("projects.employee_id = ?" , params[:emp]) if params[:emp].present? && params[:emp] != ""
		wds = wds.joins(:project).where("projects.vendor_id = ?" , params[:vendor]) if params[:vendor].present? && params[:vendor] != ""
		wds = wds.joins(:employee).where("employees.contract_type = ?" , params[:contract]) if params[:contract].present? && params[:contract] != ""

		total_records = wds.count


		# if show_pastdue && (params[:order].present? && params[:order] == "status")
		# 	wds1 = wds.select { |wd| !wd.is_past_due_date? }
		# 	wds2 = wds.select { |wd| wd.is_past_due_date? }
		# 	wds = wds1 + wds2
		# else
			wds = wds.limit(records_per_page).offset(page * records_per_page)
		# end

	end

%>

<% wds.each_with_index do |wd, loop_index|%>

	<% # In some freak cases the employee might be missing, so make sure it exists before continuing
	if wd.employee.blank?
		next
	end
	
	%>
	
	<% #Skip unsubmitted
	if !(wd.is_past_due_date? && show_pastdue)
		if !show_unsubmitted && (wd.is_saved? || wd.is_unsubmitted?)
			next
		end
	end
	%>
	
	<% #Skip passed_due_Date if set to skip
	if (wd.is_past_due_date? && !show_pastdue)
		next
	end
	%>

	<% allow_update = can_update_all ||  (can_update && (!wd.is_past_due_date? || wd.is_reopened?) && wd.should_update?) %>

	<%= form_tag work_durations_path, multipart: true, style: "margin:0px;width:100%;padding:0px;"  do %>
	<div class="<%= allow_update ? "parent-toggle" : "" %> gg" data-index="<%=loop_index%>">
		<div class="row row_hover_highlight">
			<% if show_submitted_date %>
				<div class="col col8 mt-3">
					<%= wd.updated_at.strftime("%b %d, %Y") %>
				</div>
			<% end %>
	
			<% if show_employee_info %>
		    <div class="col col8 mt-3">
		      <%= wd.employee.profile.name %>
		    </div>
		    <div class="col col8 mt-3">
		      <%= wd.vendor.blank? ? "<Not Provided>" : wd.vendor.name %>
		    </div>
		    <% end %>
			
			<div class="col col-5 mt-3">
				<% if wd.time_sheet_status  == "unsubmitted" && !wd.is_past_due_date? %>
					<%= wd.work_day.strftime("%b %d, %Y") %> - <%= (wd.work_day + 4).strftime("%b %d, %Y") %>
				<% else %>
					<%= link_to wd do %>
						<%= wd.work_day.strftime("%b %d, %Y") %> - <%= (wd.work_day + 4).strftime("%b %d, %Y") %>
			  		<% end %>
				<% end %>
				
		    </div>
			
			<% if show_contract_type %>
			<div class="col col8 mt-3">
				<%= wd.employee.contract_type.blank? ? "<Not Provided>" : wd.employee.contract_type %>
		    </div>
			<% end %>
			
			<% if show_project_name %>
		    <div class="col col8 mt-3">
			  <%# wd.employee.job.blank? ? "(Not Assigned)" : wd.employee.job.title %>
			  <%= wd.employee.active_postings.count <= 0? "(Not Assigned)" : wd.employee.active_postings.first.job.title %>
		    </div>
			<% end %>
			
			<% if show_each_day %>
			<% wd.all_days.each do |day| %>
				<div class="col col8 labeled-toggle-<%=loop_index%>">
		          <label class="mt-3 " for="work_duration_a1">
					  <%= day.hours %>
		          </label>
		        </div>
				<div class="col col8 field-toggle-<%=loop_index%>" style="display:none">
		          <label class="mt-3 label-duration-1" for="work_duration_a1">
					  <%= d_int = day.work_day.strftime("%d").to_i %>
					  <% if d_int == 1 %>
					  st
					  <% elsif d_int == 2 %>
					  nd
					  <% elsif d_int == 3 %>
					  rd
					  <% else %>
					  th
					  <% end %>
		          	<%= number_field_tag :thought_author, "", :name => "wds[][#{day.work_day.strftime("%b,%d,%Y")}]", :value => day.hours, :min=>"0", :max=>"12", :class=>"hours_value hours_value_#{loop_index}", :result_id=>"total_#{loop_index}", :siblings=>"hours_value_#{loop_index}", :style=>"min-width:60px" %> <br />
		          </label>
		        </div>
			<% end %> <!-- END OF if loop -->
			<% end %> <!-- END OF if show_each_day -->
			
			<div class="col col8 labeled-toggle-<%=loop_index%>">
		      <label class="mt-3 label-duration-1" for="work_duration_a1">
		      	<%= wd.all_days.map{|wd|wd.hours}.inject(0, :+) %>
		      </label>
		    </div>
			<div class="col col8 field-toggle-<%=loop_index%>" style="display:none">
		      <label class="mt-3 label-duration-1" for="work_duration_a1", id="total_<%=loop_index%>">
		      	<%= wd.all_days.map{|wd|wd.hours}.inject(0, :+) %>
		      </label>
			</div>
			<div class=" col col8">
				<div class="calendar-picture" full_image="full-image-bg-<%=loop_index%>">
			
					<img src="<%=  wd.timesheet_screenshot.attached? ? url_for(wd.timesheet_screenshot) : ""  %>" class="picture-src" id="wizardPicturePreview" title="" style="background:white">
				</div>
			</div>
	
			<div class="full-image-bg" id="full-image-bg-<%=loop_index%>" style="display:none;position:fixed">
				<div class="full-image">
					<img src="<%= wd.timesheet_screenshot.attached? ? url_for(wd.timesheet_screenshot) : "" %>" class="picture-src" id="wizardPicturePreview" title=""  style="background:white">
				</div>
			</div>

			<div class="test1 col col8 mt-3 <%= !wd.is_past_due_date? ? wd.time_sheet_status : "" %>" id="status-div-<%=wd.id%>">
			  <% if wd.is_past_due_date? && !wd.is_reopened? && !wd.is_resubmitted? %>
				<label style="color:red">
					PASSED DUE DATE <br /><%= wd.time_sheet_status %>
				</label>
			  <% else %>
			  	<%= wd.time_sheet_status.upcase %>
			  <% end %>
		    </div>
	
			<% if can_act %>
			
			<div class="col col12">
				<% if  (!wd.is_past_due_date? && wd.is_pending?) || wd.is_resubmitted? %>
				<div class="action_buttons_parent" id="action_buttons_container_<%=wd.id%>">
				  <div class="action_button_container approve">
					  <div class="action_button_div">
						  <a href="/work_durations/update_duration_status.json" class="time_sheet_action_link" action="approved" action_id="<%=  wd.id %>"> 
							  <i class="material-icons time_sheet_action">check_circle</i> 
						  </a>
					  </div>
					  <div class="action_button_title">
						  Approve
					  </div>
				  </div>

				  <div class="action_button_container reject">
					  <div class="action_button_div">
						  <a href="/work_durations/update_duration_status.json" class="time_sheet_action_link" action="rejected" action_id="<%=  wd.id %>">
							  <i class="material-icons time_sheet_action">cancel</i>
						  </a>
					  </div>
					  <div class="action_button_title">
						  Reject
					  </div>
				  </div>
			  
				</div>
				<div class="action_button_container" id="action_loader_container_<%= wd.id%>" style="display:none">
					<div class="action_button_div">
					  <div class="loader"></div>
					</div>
					<div class="action_button_title">
					  Updating Status. Please wait.
					</div>
				</div>
		  		<% elsif wd.is_past_due_date? &&  !wd.is_reopened? %>
		  
		  
				<div class="action_button_container reject" style="margin-left:40px">
				<a href="/work_durations/reopen_timesheet/<%=wd.id%>?date=<%= wd.work_day %>&emp=<%= wd.employee.id %>"> 
					<div class="action_button_div">
						<i class="material-icons time_sheet_action">lock_open</i>
					</div>
					<div class="action_button_title">
						Reopen
					</div>
				</a>
			</div>
	  
				<% end %>
	
			</div>
			<% end %>
		</div>
		
	
	</div>
	
	<div class="row" id="toggle-row-<%=loop_index%>" style="display:none;">
        <div class="section">
          <div>
            <label for="file">
              <b>Upload timesheet/screenshot</b>
            </label> 
            <br/>
			<%= file_field_tag :timesheet_screenshot, required: !wd.timesheet_screenshot.attached?, :style=>"width:100%", :class => "timesheet_field", :index => loop_index, :accept=>"image/*,application/pdf" %>
          </div>
          <b> Certification </b> 
          <br/>
          <ul>
            <li> By submitting this, I agree that the information provided in the screen is accurate.I certify 
              that the company has all the breaks as agreed upon.
            </li>
          </ul>
        </div>

        <div class="section actions" style="width:330px">
          <%# form.submit "Submit",class: "btn btn-primary",style: "width:35%;" %>
          <% if @employee != nil %>
            <%= hidden_field_tag :eid, @employee.id %>
            <%= hidden_field_tag :pid, wd.project.id %>
			<%# hidden_field_tag :date,:value=> date %>
          <% end %>
	  
		  <div id="submit_options_<%=loop_index%>" style="display:<%= wd.timesheet_screenshot.attached? ? "block" : "none" %>" %>
			  <%= submit_tag "Save For Later", name: "save_for_later", class: "btn", style:"margin:0px 4px 4px 0px;min-width: 150px;", :disabled => wd.is_reopened? %>

			  <% if wd.work_day.end_of_week - 2 > Date.today %>
			  Cannot submit until weeks end.
			  <% else %>
			  <%= submit_tag "Submit", class: "btn", style: "width:35%;min-width: 150px;" %>
			  <% end %>
		  </div>
		  <div id="submit_message_<%=loop_index%>" style="display:<%= wd.timesheet_screenshot.attached? ? "none" : "block" %>" >
			  Select Timesheet Image
		  </div>
		  <%# submit_tag "Submit", :style=>"min-width:100px" %>
        </div>
        <div class="clr"></div>

	</div>
	
	<% end %>
	
<% end %>


<% if !ignore_filters %>
<div class="recorc_bottom flex_row">
	<div class="flex_row"></div>
	<div class="pagination_container flex_row" style="flex-grow:0;width:160px">
		<% total_pages = (total_records.to_f / 10.0).floor.to_i + (((total_records.to_f / 10.0).modulo(1) > 0) ? 1 : 0) %>
		<% if page > 0 %>
		<div class="flex_col" style="padding:0px">
			<a href="" class="pagination_link" new_page="0">
				<span class="material-icons">
				skip_previous
				</span>
			</a>
			<a href="" class="pagination_link" new_page="<%= page - 1 %>">
				<span class="material-icons">
				navigate_before
				</span>
			</a>
		</div> 
		<% end %>
		<div class="flex_col" style="padding:0px;text-align:center">
		<%= "#{page + 1} / #{total_pages}" %> 
		</div>
		<% if page < total_pages - 1 %>
		<div class="flex_col" style="padding:0px">
		<a href="" class="pagination_link" new_page="<%= page + 1 %>">
			<span class="material-icons">
			navigate_next
			</span>
		</a>
		<a href="" class="pagination_link" new_page="<%= total_pages - 1%>">
			<span class="material-icons">
			skip_next
			</span>
		</a>
		</div>
		<% end %>
	</div>
</div>
<% end %>



<% end %> <!-- END - if false -->

 <!-- DELETE BELOW
	 
<% if false %>
<%# projs = projects.sort_by{|p|p.work_durations} %>
<% projects.each do |p| %>
	<% durations = p.work_durations %>
	<% start_date = params["from_date"] ? DateTime.parse(params["from_date"]) : DateTime.new(2000, 1, 1,  0,  0,  0) %>
	<% end_date = params["to_date"] ? DateTime.parse(params["to_date"]) : DateTime.now %>
	<% work_days =  durations.where(work_day: start_date..end_date) %>

	<% if !show_unsubmitted %>
		<%# work_days = work_days.where.not(time_sheet_status: "saved").where.not(time_sheet_status: "unsubmitted") %>
		<% work_days = work_days.where.not(time_sheet_status: "unsubmitted") %>
	<% end %>
	<% work_days = work_days.order(:work_day).reverse %>

	<% loop_date = end_date %>

	<% loop_index = 1 %>
	

	<% loop do %>
		<% break if work_days.count <= 0 %>
		<% loop_start  = loop_date.at_beginning_of_week %>
		<% loop_end    = loop_date.at_end_of_week - 2 %>
		
		<% if p.work_durations.where(:work_day => loop_start).count > 0 %>
			<%# week_status = p.work_durations.where(:work_day => loop_start).first.time_sheet_status %>
			<% week_wds    = durations.where(:work_day => loop_start..loop_end).order(:work_day) %>
			<%# passed_due_date = (DateTime.now - week_wds.first.work_day).to_i >= 14  %>
		<% else %>
			<% loop_date = loop_date.at_beginning_of_week - 1 %>
			<% next  %>
		<% end %>
		
		<% if !show_unsubmitted && week_wds.first.time_sheet_status.downcase == "unsubmitted" %>
			<% loop_date = loop_date.at_beginning_of_week - 1 %>
			<% next %>
		<% end %>
		<%# "Start: " + loop_start.strftime("%B %d, %Y, %A") + "End:" + loop_end.strftime("%B %d, %Y, %A") %> 
		
		<% if false#!can_update#week_wds.first.is_pending? || week_wds.first.is_approved? %>
		
			<div class="parent" data-index="1">
				<div class="row">
					
			        <div class="col col-5 mt-3">
			          <%= (loop_start - 1).strftime("%b %d, %Y") %> - <%= (loop_end + 1).strftime("%b %d, %Y") %>
					  <br />
					  <% if week_wds.first.is_pending? || week_wds.first.is_approved? || week_wds.first.is_rejected? %>
					  <span style="font-size:10px;color:#6E6E66">(<b>Submitted:</b> <%= week_wds.first.created_at.strftime("%b %d, %Y") %>)</span>
					  <% end %>
			        </div>
				    <% if show_employee_info %>
				    <div class="col col8 mt-3">
				      <%= p.employee.profile.full_name %>
				    </div>
				    <div class="col col8 mt-3">
				      <%= p.vendor.profile.full_name %>
				    </div>
				    <% end %>
					
					<% week_wds.each do |wd| %>
						<div class="col col8 ">
				          <label class="mt-3 label-duration-1" for="work_duration_a1">
				          	<%= wd.hours %> 
				          </label>
				        </div>
					<% end %>
					
					<div class="col col8 ">
			          <label class="mt-3 label-duration-1" for="work_duration_a1">
			          	<%= week_wds.map{|wd|wd.hours}.inject(0, :+) %>
			          </label>
			        </div>
					
					<div class=" col col8">
						<div class="calendar-picture" full_image="full-image-bg-<%=loop_index%>">
							<% if week_wds.count > 0 %>
							<img src="<%= week_wds.first.timesheet_screenshot.attached? ? url_for(week_wds.first.timesheet_screenshot) : "" %>" class="picture-src" id="wizardPicturePreview" title="Timesheet">
							<% else %>
							<img src="" class="picture-src" id="wizardPicturePreview" title="Unavailable">
							<% end %>
						</div>
					</div>
					
					<div class="full-image-bg" id="full-image-bg-<%=loop_index%>" style="display:none">
						<div class="full-image">
							<% if week_wds.count > 0 %>
							<img src="<%= week_wds.first.timesheet_screenshot.attached? ? url_for(week_wds.first.timesheet_screenshot) : "" %>" class="picture-src" id="wizardPicturePreview" title="Timesheet">
							<% else %>
							<img src="" class="picture-src" id="wizardPicturePreview" title="Unavailable">
							<% end %>
						</div>
					</div>
					
					<% if week_wds.count > 0 %>
		            <div class="col col8 mt-3 <%= week_wds.first.time_sheet_status %>" id="status-div-<%=week_wds.first.id%>" style="<%= week_wds.first.is_past_due_date? ? "margin-top: 0.3rem !important;" : "" %>">
					  <% if week_wds.first.is_past_due_date? %>
						<label style="color:red">
							PASSED DUE DATE
						</label>
					  <% else %>
					  	<%= week_wds.first.time_sheet_status.upcase %>
					  <% end %>
					  
		            </div>
					<% else %>
					<div class="col col8 mt-3 ">unsubmitted</div>
					<% end %>
					
					<% if can_act %>
					<% if week_wds.count > 0 %>
				    <div class="col col12">
						<% if !week_wds.first.is_past_due_date? && week_wds.first.time_sheet_status == "pending" %>
							<div class="action_buttons_parent" id="action_buttons_container_<%=week_wds.first.id%>">
							  <div class="action_button_container approve">
								  <div class="action_button_div">
									  <a href="/work_durations/update_duration_status" class="time_sheet_action_link" action="approved" action_id="<%=  week_wds.first.id %>"> 
										  <i class="material-icons time_sheet_action">check_circle</i> 
									  </a>
								  </div>
								  <div class="action_button_title">
									  Approve
								  </div>
							  </div>

							  <div class="action_button_container reject">
								  <div class="action_button_div">
									  <a href="/work_durations/update_duration_status" class="time_sheet_action_link" action="rejected" action_id="<%=  week_wds.first.id %>">
										  <i class="material-icons time_sheet_action">cancel</i>
									  </a>
								  </div>
								  <div class="action_button_title">
									  Reject
								  </div>
							  </div>
							</div>
					  
							<div class="action_button_container" id="action_loader_container_<%=week_wds.first.id%>" style="display:none">
								<div class="action_button_div">
								  <div class="loader"></div>
								</div>
								<div class="action_button_title">
								  Updating Status. Please wait.
								</div>
							</div>
						<% end %>
						<div class="clr"></div>
				    </div>
					<% else %>
					<div class="col col12 ">unsubmitted</div>
					<% end %>
					<% end %>
					
				</div>
			</div>
	
		<% else#elsif can_update_all || (can_update && !week_wds.first.is_past_due_date?) %> 	
		
		<div style="order:<%= loop_index == 3 ? "0" : "1" %>">
			<% allow_update = can_update_all ||  (can_update && !week_wds.first.is_past_due_date? && week_wds.first.should_update?) %>
			<%= form_tag work_durations_path, multipart: true, style: "margin:0px;width:100%;padding:0px;"  do %>
			<div class="<%= allow_update ? "parent-toggle" : "" %>" data-index="<%=loop_index%>">
		
				<div class="row">
					
			        <div class="col col-5 mt-3">
			          <%= (loop_start - 1).strftime("%b %d, %Y") %> - <%= (loop_end + 1).strftime("%b %d, %Y") %>
			        </div>
				    
					<% if show_employee_info %>
				    <div class="col col8 mt-3">
				      <%= p.employee.profile.full_name %>
				    </div>
				    <div class="col col8 mt-3">
				      <%= p.vendor.profile.full_name %>
				    </div>
				    <% end %>
					
					<% week_wds.each do |wd| %>
					
						<div class="col col8 labeled-toggle-<%=loop_index%>">
				          <label class="mt-3 " for="work_duration_a1">
							  <%= wd.hours %>
				          </label>
				        </div>
						<div class="col col8 field-toggle-<%=loop_index%>" style="display:none">
				          <label class="mt-3 label-duration-1" for="work_duration_a1">
				          	<%= number_field_tag :thought_author, "", :name => "wds[][#{wd.work_day.strftime("%b,%d,%Y")}]", :value => wd.hours, :min=>"0", :max=>"12", :class=>"hours_value hours_value_#{loop_index}", :result_id=>"total_#{loop_index}", :siblings=>"hours_value_#{loop_index}", :style=>"min-width:60px" %> <br />
				          </label>
				        </div>
						
					<% end %>
					
					<div class="col col8 labeled-toggle-<%=loop_index%>">
			          <label class="mt-3 label-duration-1" for="work_duration_a1">
			          	<%= week_wds.map{|wd|wd.hours}.inject(0, :+) %>
			          </label>
			        </div>
					<div class="col col8 field-toggle-<%=loop_index%>" style="display:none">
			          <label class="mt-3 label-duration-1" for="work_duration_a1", id="total_<%=loop_index%>">
			          	<%= week_wds.map{|wd|wd.hours}.inject(0, :+) %>
			          </label>
					</div>
					<div class=" col col8">
						<div class="calendar-picture" full_image="full-image-bg-<%=loop_index%>">
							
							<img src="<%=  week_wds.first.timesheet_screenshot.attached? ? url_for(week_wds.first.timesheet_screenshot) : ""  %>" class="picture-src" id="wizardPicturePreview" title="" style="background:white">
						</div>
					</div>
					
					<div class="full-image-bg" id="full-image-bg-<%=loop_index%>" style="display:none">
						<div class="full-image">
							<img src="<%= week_wds.first.timesheet_screenshot.attached? ? url_for(week_wds.first.timesheet_screenshot) : "" %>" class="picture-src" id="wizardPicturePreview" title=""  style="background:white">
						</div>
					</div>
			
					<div class="col col8 mt-3 <%= week_wds.first.time_sheet_status %>" id="status-div-<%=week_wds.first.id%>" style="<%= week_wds.first.is_past_due_date? ? "margin-top: 0.3rem !important;" : "" %>">
					  <% if !can_update_all && week_wds.first.is_past_due_date? %>
						<label style="color:red">
							PASSED DUE DATE
						</label>
					  <% else %>
					  	<%= week_wds.first.time_sheet_status.upcase %>
					  <% end %>
		            </div>
					
					<% if can_act %>
					<div class="col col12">
					<% if !week_wds.first.is_past_due_date? && week_wds.first.time_sheet_status == "pending" %>
						<div class="action_buttons_parent" id="action_buttons_container_<%=week_wds.first.id%>">
						  <div class="action_button_container approve">
							  <div class="action_button_div">
								  <a href="/work_durations/update_duration_status" class="time_sheet_action_link" action="approved" action_id="<%=  week_wds.first.id %>"> 
									  <i class="material-icons time_sheet_action">check_circle</i> 
								  </a>
							  </div>
							  <div class="action_button_title">
								  Approve
							  </div>
						  </div>

						  <div class="action_button_container reject">
							  <div class="action_button_div">
								  <a href="/work_durations/update_duration_status" class="time_sheet_action_link" action="rejected" action_id="<%=  week_wds.first.id %>">
									  <i class="material-icons time_sheet_action">cancel</i>
								  </a>
							  </div>
							  <div class="action_button_title">
								  Reject
							  </div>
						  </div>
						</div>
				  
						<div class="action_button_container" id="action_loader_container_<%=week_wds.first.id%>" style="display:none">
							<div class="action_button_div">
							  <div class="loader"></div>
							</div>
							<div class="action_button_title">
							  Updating Status. Please wait.
							</div>
						</div>
						
					<% end %>
					
					</div>
					
					<% end %>
			
				</div>
				<div class="row" id="toggle-row-<%=loop_index%>" style="display:none;">
		            <div class="section">
		              <div>
		                <label for="file">
		                  <b>Upload timesheet/screenshot</b>
		                </label> 
		                <br/>
						<%= file_field_tag :timesheet_screenshot, required: true, :style=>"width:100%", :class => "timesheet_field", :index => loop_index, :accept=>"image/*" %>
		              </div>
		              <b> Certification </b> 
		              <br/>
		              <ul>
		                <li> By submitting this, I agree that the information provided in the screen is accurate.I certify 
		                  that the company has all the breaks as agreed upon.
		                </li>
		              </ul>
		            </div>
			
		            <div class="section actions">
		              <%# form.submit "Submit",class: "btn btn-primary",style: "width:35%;" %>
		              <% if @employee != nil %>
		                <%= hidden_field_tag :eid, @employee.id %>
		                <%= hidden_field_tag :pid, p.id %>
						<%# hidden_field_tag :date,:value=> date %>
		              <% end %>
					  
					  <div id="submit_options_<%=loop_index%>" style="display:<%= week_wds.first.timesheet_screenshot.attached? ? "block" : "none" %>" %>
						  <%= submit_tag "Submit", class: "btn btn-primary", style: "width:35%;" %> 
						  <%= submit_tag "Save For Later", name: "save_for_later", class: "btn btn-primary", style:"width:61%;margin-right:4%;" %>
					  </div>
					  <div id="submit_message_<%=loop_index%>" style="display:<%= week_wds.first.timesheet_screenshot.attached? ? "none" : "block" %>" >
						  Select Timesheet Image
					  </div>
					  <%# submit_tag "Submit", :style=>"min-width:100px" %>
		            </div>
		            <div class="clr"></div>
  			
				</div>
		
			</div>
			<% end %>
		</div>
		
		<% end %>
		
		<% loop_index += 1 %>
		<% loop_date = loop_date.at_beginning_of_week - 1 %>
		<% break if loop_date < work_days.last.work_day %>
	<% end %>

<% end %>


 
 <% if false %>
 
 <%@work_durations.each_with_index do |work,index| %>
    <%
      
      toggle_class = index <= 1 || work.second.first.time_sheet_status == "rejected" ? "parent-toggle" : ""
      background_color = index <= 1 || work.second.first.time_sheet_status == "rejected" ? "" : "#efefef"
      parent_index=index
    %>
    <%= form_with(model: WorkDuration.new, local: true, html: {class: "calender-form"}) do |form| %>
      <div class= "<%=toggle_class%>" data-index="<%=parent_index+1%>">
        <div class="row" style="background-color:<%=background_color%>">
          <div class="col col20 mt-3">
            <%date = work.second.first.work_day.beginning_of_week.strftime("%B %d, %Y")%>
            <%= date %>
          </div>
          
          <% (today.at_beginning_of_week..today.at_end_of_week).to_a.take(5).map.each { |day| day }.each_with_index do |day, index| %>
            <% hw = work.second.select{|w| w if w.work_day.strftime("%A") == day.strftime("%A")} %>
            <%
              current_status = hw.first.time_sheet_status
              toggle_label_class = current_status == "unsubmitted" || current_status == "saved" || current_status == "rejected" ? "labeled-toggle-#{parent_index + 1}": ""
              toggle_field_class = current_status == "unsubmitted" || current_status == "saved" || current_status == "rejected" ? "field-toggle-#{parent_index + 1}" : ""
            %>
            <div class="col col8 <%=toggle_label_class%>">
              <%= form.label ["a","b","c","d","e","f","g"][index]+work.first.third.to_s, hw.count > 0 ? hw.first.hours : 0,class: "mt-3 label-duration-#{parent_index+1}" %>
            </div>
            <div class="col col8 field-toggle <%=toggle_field_class%>">
             <%= form.number_field ["a","b","c","d","e","f","g"][index]+work.first.third.to_s,in: 0..12,class: "value_duration emp-duration-#{parent_index+1}",:value => hw.count > 0 ? hw.try(:first).try(:hours) : 0, :data => {index: parent_index+1} %>
            </div>
            <% if index == 4 %>
              <div class="col col6">
                <%= form.label "#{work.second.last(5).collect(&:hours).compact.inject(:+)}",class: "mt-3", id: "total-hours-#{parent_index+1}" %>
              </div>
              <div class=" col col6">
                <div class="calendar-picture">
                  <img src="<%= work.try(:second).try(:last).try(:timesheet_screenshot).try(:url) %>" class="picture-src" id="wizardPicturePreview" title="">
                </div>
              </div>
              <div class="col col9">
                <%= form.label "#{work.try(:second).try(:second_to_last).try(:time_sheet_status)}",nil,class:"mt-3 #{work.try(:second).try(:second_to_last).try(:time_sheet_status)}" %>
              </div>
            <% end %>
			
          <% end %>

          <div style="clear:both"></div>
        </div>
        <div class="row" id="toggle-row-<%=parent_index+1%>" style="display:none;">
          <div class="section">
            <div>
              <label for="file">
                <b>Upload timesheet/screenshot</b>
              </label> 
              <br/>
              <%= form.file_field :timesheet_screenshot, required: true %>
            </div>
            <b> Certification </b> 
            <br/>
            <ul>
              <li> By submitting this, I agree that the information provided in the screen is accurate.I certify 
                that the company has all the breaks as agreed upon.
              </li>
            </ul>
          </div>
            <% if @employee != nil %>
              <%= form.hidden_field :eid, :value => @employee.id %>
              <%= form.hidden_field :date,:value=> date %>
            <% end %>
            <div class="section actions">
              <%= form.submit "Submit",class: "btn btn-primary",style: "width:35%;" %>
              <%= form.submit "Save For Later",name: "save_for_later",class: "btn btn-primary",style:"width:61%;margin-right:4%;" %>
            </div>
            <div class="clr"></div>
        </div>
      </div>
	  
    <% end %>
 <% end %>
 <% if @work_durations.empty?%>
   <div class="row">
     <div class="col col4">
     </div>
     <div class="col col20">
     </div>
     <div class="col col20">
     </div>
     <% (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day }.each_with_index do |day, index| %>
       <div class="col col8">
         <%= label_tag "" %>
       </div>
       <div class="col col6">
         
       </div>
       <% if index == 6 %>
         <div class="col col9">
           <%= label_tag "" %>
         </div>
       <% end %>
     <% end %>
     <div style="clear:both"></div>
   </div>
 <%end%>

<% end %>
<% end %>
	 
	 -->