<%= employee.passport.present? %>
<% def show_file_field(form, field, title, file) %>
<b><%= title %>:</b>
<span style="font-size:12px">
<% if file.present? %>
(<%= link_to "Show Previous", file.url %>)
<% else %>
(Not Provided)
<% end %>
</span>

<%= form.file_field field, accept: 'image/*', :class => "timesheet_field", :style=>"width:100%" %>
<% end %>

<%= form_with(model: employee, local: true) do |form| %>

<%= render "profiles/embedable_form", profile:employee.profile, allow_submit:false, form:form %>

<div class="page_title"> Work Details </div>
<div class="flex_col">
	<div class="flex_row">
		<div class="flex_col">
			<b>Vendor:</b>
			<%= form.select :vendor, Vendor.all.collect{|c| [c.name, c.id]}, :class => 'genForm_dropBox' %>
		</div>
		<div class="flex_col">
			<b>Vendor Rate:</b>
			<%= form.text_field :vendor_rate %>
		</div>
		<div class="flex_col">
			<b>Employee Rate:</b>
			<%= form.text_field :employee_rate %>
		</div>
	</div>
</div>
<div class="page_title"> Documents </div>
<div class="flex_col">
	<div class="flex_row">
		<div class="flex_col">
			<% show_file_field(form, :passport, "Passport", employee.passport) %>
		</div>
		<div class="flex_col">
			<% show_file_field(form, :visa, "Visa", employee.visa) %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_file_field(form, :state_id, "State ID", employee.state_id) %>
		</div>
		<div class="flex_col">
			<% show_file_field(form, :i9, "i9", employee.i9) %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_file_field(form, :e_verify, "E-Verify", employee.e_verify) %>
		</div>
		<div class="flex_col">
			<% show_file_field(form, :w9, "W9", employee.w9) %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_file_field(form, :psa, "PSA", employee.psa) %>
		</div>
		<div class="flex_col">
			<% show_file_field(form, :voided_check_copy, "Voided Check", employee.voided_check_copy) %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col" style="text-align:right">
			<%= form.submit "Submit", :class=>"submit_button" %>
		</div>
	</div>
</div>

<% end %>