<script>
	$(document).ready(function(){
		$('input[type=radio][name="employee[contract_type]"]').change(function() {
			//alert("" + );
			if (this.value == "w2"){
				$("#employer_field").hide();
				$("#employer_rate_field").hide();
				$("#w2_documents").show();
				$("#c2c_documents").hide();
			} else {
				$("#employer_field").show();
				$("#employer_rate_field").show();
				
				$("#w2_documents").hide();
				$("#c2c_documents").show();
			}
		});
	});
</script>
	
<% if employee.present? and employee.try(:errors).any? %>
<div id="error_explanation">
  <h2><%= pluralize(employee.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% employee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% def show_file_field(form, field, title, file) %>
<b><%= title %>:</b>
<span style="font-size:12px">
<% if file.present? %>
(<%= link_to "Show Previous", file.url %>)
<% else %>
(Not Provided)
<% end %>
</span>

<%= form.file_field field, accept: 'image/*,application/pdf', :class => "timesheet_field", :style=>"width:100%" %>
<% end %>

<%= form_with(model: employee, local: true) do |form| %>

<%= render "profiles/embedable_form", profile:employee.profile, allow_submit:false, form:form %>

<div class="page_title"> VISA Details </div>
<div class="flex_row"> 
	<div class="flex_col">
		<b>Visa Status:</b>
		<%= form.select :visa_status, 
			options_for_select(["USC", "GC-EAD", "H4-EAD", "H1-B", "OPT-EAD", "CPT"], employee.visa_status),
			class: 'form-control', 
			filter_name: "contract"
			%>
	</div>
	<div class="flex_col">
		<b>Visa Expiry:</b>
		<%= form.text_field :visa_expiry, :class => 'date_select_field' %>
	</div>
</div>


<div class="page_title"> Work Details </div>
<div class="flex_col">
	<div class="flex_row">
		<div class="flex_col">
			<b>Vendor:</b>
			<%= form.select :vendor, Vendor.all.collect{|c| [c.name, c.id]}, :class => 'genForm_dropBox', :selected => (employee.vendors.blank? ? false : employee.vendors.first.id) %>
		</div>
		
		<% if false%>
		<!-- Hidden because requested by QA.. not removed because there is still some confusion if it needs to be removed permanently -->
		<div class="flex_col">
			<b>Vendor Rate:</b>
			<%= form.text_field :vendor_rate %>
		</div>
		<% end %>
		
		<div class="flex_col">
			<b>Consultant Rate:</b>
			<%= form.text_field :employee_rate %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<b>Client:</b>
			<%= form.collection_select(:client_id, Client.all, :id, :company_name) %>
			<%# form.select :client, Client.all.collect{|c| [c.company_name, c.id]}, :class => 'genForm_dropBox', :selected => employee.client.blank? ? false : employee.client.id %>
		</div>
		<div class="flex_col" style="display:<%= @employee.contract_type == "w2" ? "none" : "block" %>" id="employer_field">
			<b>Employer:</b>
			<%# form.select :employer, Employer.all.collect{|c| [c.company_name, c.id]}, :class => 'genForm_dropBox', :selected => employee.employer.blank? ? false : employee.employer.id %>
			<%= form.collection_select(:employer_id, Employer.all, :id, :company_name) %>
		</div>
		<div class="flex_col" style="display:<%= @employee.contract_type == "w2" ? "none" : "block" %>" id="employer_rate_field">
			<b>Employer Rate:</b>
			<%# form.select :employer, Employer.all.collect{|c| [c.company_name, c.id]}, :class => 'genForm_dropBox', :selected => employee.employer.blank? ? false : employee.employer.id %>
			<%= form.number_field :employer_rate %>
		</div>
		<%if false%>
		<div class="flex_col">
			<b>Job:</b>
			<%= form.collection_select(:job_id, Job.all, :id, :title) %>
		</div>
		<% end %>
	</div>
</div>
<div class="page_title"> Documents </div>
<div class="flex_col">
	
	<div class="flex_row">
		<div class="flex_col">
			<b>Contract Type: </b>
			<% contract_types.each do |contract_type| %>
			<%= form.radio_button :contract_type, contract_type, :checked => (employee.persisted? && employee.contract_type == contract_type) %> 
			<%= label :contract_type_label, contract_type %>
			<% end %>
		</div>
	</div>
	
	<div class="mututal_documents">
		<div class="flex_row">
			<div class="flex_col">
				<% show_file_field(form, :resume, "Resume", employee.resume) %>
			</div>
		</div>
		<div class="flex_row">
			<div class="flex_col">
				<% show_file_field(form, :state_id, "State ID", employee.state_id) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :passport, "Passport", employee.passport) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :visa, "Work Auth/Visa", employee.visa) %>
			</div>
		</div>
		
		<div class="flex_row">
			<div class="flex_col">
				<% show_file_field(form, :i9, "i9", employee.i9) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :e_verify, "E-Verify", employee.e_verify) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :voided_check_copy, "Voided Check", employee.voided_check_copy) %>
			</div>
		</div>
	</div>
	
	<div id="c2c_documents" style="display:<%= employee.contract_type == "w2" ? "none" : "block" %>">
		<div class="flex_row">
			<div class="flex_col">
				<% show_file_field(form, :po, "PO", employee.po) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :new_hire_package, "New Hire Package", employee.new_hire_package) %>
			</div>
		</div>
		<div class="flex_row">
			<div class="flex_col">
				<% show_file_field(form, :w9, "W9", employee.w9) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :psa, "PSA", employee.psa) %>
			</div>
		</div>
	</div>
	
	<div id="w2_documents"  style="display:<%= employee.contract_type == "w2" ? "block" : "none" %>">
		<div class="flex_row">
			
			<div class="flex_col">
				<% show_file_field(form, :offer_letter, "Offer Letter", employee.offer_letter) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :w2_contract, "W2 Contract", employee.w2_contract) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :w4, "W4", employee.w4) %>
			</div>
			
		</div>
		
		<div class="flex_row">
			
			<div class="flex_col">
				<% show_file_field(form, :direct_deposit_detail, "Direct Deposit Details", employee.direct_deposit_detail) %>
			</div>
			<div class="flex_col">
				<% show_file_field(form, :emergency_contact_form, "Emergency Contact Form", employee.emergency_contact_form) %>
			</div>
			
		</div>
	</div>
	
	
	<div class="flex_row">
		<div class="flex_col" style="text-align:right">
			<%= form.submit "Submit", :class=>"submit_button" %>
		</div>
	</div>
</div>

<% end %>