<div class="page_heading">Dashboard</div>
<div class="flex_row">
	<div class="flex_col">
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Full Name: </div>
			<div class="flex_col"> <%= @employee.profile.name %> </div>
		</div>
		
		<div class="" style="height:10px"></div>
		
		<% if @employee.job.blank? %>

		<% else %>
			
			<div class="flex_row info_row">
				<div class="flex_col col_heading"> Project: </div>
				<div class="flex_col"> <%= @employee.job.blank? ? "(Not Assigned)" : @employee.job.title %> </div>
			</div>

			<div class="flex_row info_row">
				<div class="flex_col col_heading"> Project Address: </div>
				<div class="flex_col"> <%= @employee.job.blank? ? "(Not Assigned)" : @employee.job.location %> </div>
			</div>
			
			<% if @employee.job.client.blank? %>
				<div class="flex_row info_row">
					<div class="flex_col col_heading"> Client: </div>
					<div class="flex_col"> <%= @employee.job.client.company_name %> </div>
				</div>
			<% end %>

			<% if @employee.job.vendor.blank? %>
				<div class="flex_row info_row">
					<div class="flex_col col_heading"> Vendor: </div>
					<div class="flex_col"> <%= @employee.job.vendor.company_name %> </div>
				</div>
			<% end %>

		<% end %>
		
		
	</div>
	
</div>

<% today = Date.today # Today's date %>
<% @days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map %> 

<div class="section" id="calender">
	<%= render "_partials/timesheet_viewer", employees:[@employee],
											 show_unsubmitted:(@employee.profile.id == current_user.profile.id),
											 record_limit: 2,
											 can_submit_timesheet:true,
											 show_pagination:false,
											 can_act: false,
											 show_employee_info: false,
											 show_contract_type: false %>
	<% if false %>
	<!-- OLD TIMESHEET -- not removed yet for reference-->
  <%= render "_partials/calender", 
    show_unsubmitted:(@employee.profile.id == current_user.profile.id),
  	work_durations:@employee.work_durations.where("work_day >= ?", 10.days.ago.at_beginning_of_week), 
  	can_update_all:true, 
  	can_update:current_user.profile.id == @employee.profile.id, 
  	can_act:current_user.is_admin? || current_user.is_account_manager?, 
  	show_employee_info:current_user.is_admin? || current_user.is_account_manager?,
	show_filters:false,
	show_each_day:true,
	show_submitted_date:false,
	show_contract_type:false,
	show_project_name:false,
	show_pastdue:false,
	ignore_filters:true,
	employee:[@employee],
	record_limit: 2
	%>
	<% end%>
</div>

<% if @employee.work_durations.count <= 0 %>
<div style="width:100%;text-align:center">Visit the <b>Timesheet Management</b> tab to access your timesheet data.</div>
<% end %>

