
<div class="flex_row">

<div class="page_heading">
	Consultants
</div>

 <!-- <div class="flex_col">
		<%= link_to "Add Consultant", new_employee_url, {:class => "button_link", :style=> "background:#660000;font-size:13px;width:160px;align:right"} %>
	</div> -->
</div>
<%# <div class="info_print_employee flex_row"> %>
	<%# The script that makes these filter fields work is defined in application.js %>
	<%# Any thing with class "filter_field" will get .onChanged attached to it where the "filter_name" attribute will be turned into parameter name and the current url will be called %>
	

	<%# <div class="flex_col"></div> %>
	
	
	
<%# </div> %>

<% def create_header(name, value) %>
	<%- is_sorted = params[:order].present? && params[:order] == "desc" && params[:sort] == value %>

	<div class="header_container" style="border:0px; padding:0px"> 
		<%= link_to employees_url(sort: value, order: ( is_sorted ? "asc" : "desc")), 
		     {class: 'row form-select sorting_link', style: "border-bottom:0;color:white  !important", 
			id: "sorting_link",
			sort_type: value,
			order_type: (is_sorted ? "asc" : "desc") } do %>
		<div class="col"></div> 
		<div class="col-auto" style="padding:0px; text-align:center">
			<%= name %>
		</div>
		<div class="col" style="padding:0px">
			<i class="material-icons" style="textDecoration: none; display: inline-flex; vertical-align: top;line-height:16px;"><%= is_sorted ? "arrow_drop_down" : "arrow_drop_up"%></i>
		</div>
		<div class="col"></div>
		<% end %>
	</div>
<% end %>
<%# asdf: <%= sanitize hello_app(567) %> 
<div class="section">
  <div class="row top">
  <div class="col col-1"> # </div> 
  <div class="col col-2">
	<% create_header("Consultants","emp") %>
  </div>
  <div class="col col-1">Projects</div> 
  <div class="col col-1"> Contracts </div>
  <div class="col col-1"> Employers </div>
  <div class="col col-1"> 
	<% create_header("Start Date","strtdate") %>
  </div>
  <div class="col col-1"> End Date </div>
  <div class="col col-1"> Visa Type </div>
  <div class="col col-1">
  <% create_header("Visa Expiry","expdate") %>
   </div>
  <div class="col col-1">
    <% create_header("Status","empstatus") %>
   </div>
  <div class="col col-1">Actions</div>
  </div>

  <%# Row of Filters in Table %>

  <div class="filters row">
  <div class="col col-1 " style="padding:0px"> </div> 
  <div class="col col-2" style="padding:1px"> 
  <%= select_tag 'employee_filter', options_for_select(Employee.includes(:profile).all.collect {|e| [ e.profile.name, e.id ] }, params["emp"]),
			class: 'form-select filter_field',
			id: "filter_field",
			filter_name: "emp",
			prompt: "Consultant"%>
  </div>
  <div class="col col-1" style="padding:1px">
  <%= select_tag 'contract_filter',
			options_from_collection_for_select(Job.all, :id, :title, params["proj"]), 
			class: 'form-select filter_field',
			id: "filter_field",
			filter_name: "proj",
			prompt: "Jobs" 
			%>
  </div> 
  <div class="col col-1" style="padding:1px"> 
  <%= select_tag 'contract_filter', 
			options_for_select(contract_types, params["contract"]),
			class: 'form-select filter_field', 
			id: "filter_field",
			filter_name: "contract",
			prompt: "Contracts"
			%>
   </div>
  
  <div class="col col-1" style="padding:0px"> 
  <%= select_tag 'employers_filter', options_from_collection_for_select(Employer.all, :id, :company_name, params["emplyer"]),
			class: 'form-select filter_field',
			id: "filter_field",
			filter_name: "emplyer",
			prompt: "Employers"%>
  </div>
  <div class="col col-1" style="padding:0px"> </div>
  <div class="col col-1" style="padding:0px"> </div>
  <div class="col col-1" style="padding:0px"> </div>
  <div class="col col-1" style="padding:0px"> </div>
  <div class="col col-1" style="padding:0px"> </div> 
  </div>

  <% total_hours = 0 %>
  <% @employees.each_with_index do |employee, index| %>

  <%# employee.visa_expiry.blank? || employee.visa_status == "USC" %>
    
    
	
   
	<% diff = employee.visa_expiry.blank? ? 0 : (employee.visa_expiry - Date.today).to_i %>
	
	<div class="row row_hover_highlight" >
     
      <div class="col col-1">
        <%= index + 1 %>
      </div>
      
      <div class="col col-2">
        <%if employee.try(:profile).present?%>
          <%= link_to employee.profile.name, employee_path(id:employee,order:"period"), role:employee.try(:profile).try(:role).try(:downcase) %>
        <%end%>
		<% if employee.disabled %>
		(Disabled)
		<% end %>
      </div>
      
	  <div class="col col-1">
         <%# employee.job.blank? ? "(UnAssigned)" : employee.job.title  %>
		 <%= employee.job.blank? ? "(UnAssigned)" : employee.job.title  %>
      </div>
	  
      <div class="col col-1">
        <%= employee.contract_type.blank? ? " - " : employee.contract_type %>
      </div>
	  
      <div class="col col-1">
      	<% if employee.contract_type != "w2" %>
      		<%if !employee.employer.blank? %>
      			<%= employee.employer.company_name %>
      		<% else %>
      		(Not Assigned)
      		<% end %>
      	<% else %>
      	-
      	<% end %>

      </div>
      
      <div class="col col-1">
      	<%= employee.job_start_date.blank? ? employee.created_at.strftime("%d, %b %Y") : employee.job_start_date.strftime("%d, %b %Y") %>
      </div>
      <div class="col col-1">
      	<% if employee.disabled %>
      		<%= employee.disable_date.strftime("%d, %b %Y") %>
      	<% else %>
      	<%= employee.job_end_date.blank? ? " - " : employee.job_end_date.strftime("%d, %b %Y") %>

      	<% end %>
      </div>

	  <div class="col col-1">
      	<%= employee.visa_status.blank? ? "Not Provided" : employee.visa_status %>
      </div>

		<% if employee.visa_status != "USC" %>

	  <div class="col col-1" style="color:<%= diff < 30 ? "#FF0000" : (diff < 60 ? "#FF9933" : "#000000") %>">
      	<%= employee.visa_expiry.blank? ? "Not Provided" : employee.visa_expiry %>
      </div>
	  <% else %>
	  	<div class="col col-1">-</div>
	  <% end %>

      <div class="col col-1">
      	<%= employee.disabled ? "Disabled" : "Active" %>
      </div>

      <div class="col col-1">
		  <%# link_to "Edit", edit_profile_path(employee.profile)%>
		  <%= link_to "View Profile", profile_path(:id => employee.profile.id) %> 
		  <%= link_to "Edit", edit_employee_path(employee)%> |
		  <% if !employee.disabled %><!--disable_job_link-->
		  	<a href="#" employee_id="<%=employee.id%>" employee_name="<%=employee.profile.name%>" class="disable_consultant_link">Disable</a>
		  <% else %>
		  	<%= link_to "Enable", enable_consultant_employees_path(emp_id:employee.id), method: "PUT" %>
		  <% end %>
		  

		  <% if current_user.is_admin? %>
		  | <%= link_to 'Destroy', employee_path(employee), data: {:confirm => 'Are you sure?'}, :method => :delete %>
		  <% end %>
      </div>
    </div>
  <% end %>
  

  <div class="row bottom">
    <div class="col">
      
    </div>
    <div class="col col25">
      
    </div>
    <div class="col col25">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      <%# total_hours %>
    </div>
    <div class="col"></div>
  </div>

  
</div>

<div style="float:right">
  		<%= paginate @employees %> 
  	</div>
  	<div class="clr"></div>

<%= render "employees/close_consultant_form" %>

<% if params[:debug].present? %>
	<%- Employee.all.each do |emp| %>
		<div style="border:1px solid #000">
			Name: <%= emp.profile.name %> <br />
			Active_Job: <%= emp.active_job.blank? ? "-" : emp.active_job.id %> <br />
			Job_ID: <%= emp.job_id %> <br />
		</div>
	<% end %>
<% end %>
<% if params[:debug_fix].present? %>
	<%- ea = Employee.all %>
	<% ea.each do |emp| %>
		<% if emp.active_job.blank? %>
			<%- emp.update(job_id: nil) %>
		<% end %>
	<% end %>
<% end %>
<!--
<div class="recorc_bottom flex_row">
	<div class="flex_row"></div>
	<div class="pagination_container flex_row" style="flex-grow:0;width:160px">
		<%# total_pages = (@jobs.count.to_f / 10.0).floor.to_i + (((@jobs.count.to_f / 10.0).modulo(1) > 0) ? 1 : 0) %>
		
		<% if @page > 0 %>
		<div class="flex_col" style="padding:0px">
			<a href="" class="pagination_link" new_page="0">
				<span class="material-icons">
				skip_previous
				</span>
			</a>
			<a href="" class="pagination_link" new_page="<%= @page - 1 %>">
				<span class="material-icons">
				navigate_before
				</span>
			</a>
		</div> 
		<% end %>
		<div class="flex_col" style="padding:0px;text-align:center">
		<%= "#{@page + 1} / #{@total_pages}" %> 
		</div>
		<% if @page < @total_pages - 1 %>
		<div class="flex_col" style="padding:0px">
		<a href="" class="pagination_link" new_page="<%= @page + 1 %>">
			<span class="material-icons">
			navigate_next
			</span>
		</a>
		<a href="" class="pagination_link" new_page="<%= @total_pages - 1%>">
			<span class="material-icons">
			skip_next
			</span>
		</a>
		</div>
		<% end %>
	</div>
-->
</div>
