<div class="page_heading">
	Consultants
</div>
<div class="info_print_employee flex_row">
	<%# The script that makes these filter fields work is defined in application.js %>
	<%# Any thing with class "filter_field" will get .onChanged attached to it where the "filter_name" attribute will be turned into parameter name and the current url will be called %>
	
	<div class="flex_col" style="padding:0px 10px">
		<%# select_tag 'employee_filter',  
			options_from_collection_for_select(Employee.include(:profile).all, "id", "name", params["emp"]),
			class: 'form-control filter_field',
			id: "filter_field",
			filter_name: "emp",
			prompt: "Consultant" 
			%>
		<%= select_tag 'employee_filter', options_for_select(Employee.includes(:profile).all.collect {|e| [ e.profile.name, e.id ] }, params["emp"]),
			class: 'form-control filter_field',
			id: "filter_field",
			filter_name: "emp",
			prompt: "Consultant"%>
	</div>
	
	<div class="flex_col" style="padding:0px 10px">
		<%= select_tag 'contract_filter',
			options_from_collection_for_select(Job.all, "id", "title", params["proj"]), 
			class: 'form-control filter_field',
			id: "filter_field",
			filter_name: "proj",
			prompt: "Jobs" 
			%>
	</div>
	
	<div class="flex_col" style="padding:0px 10px">
		<%= select_tag 'contract_filter', 
			options_for_select(contract_types, params["contract"]),
			class: 'form-control filter_field', 
			id: "filter_field",
			filter_name: "contract",
			prompt: "Contract Type"
			%>
	</div>
	
	<div class="flex_col" style="padding:0px 10px">
		<%= select_tag 'vendor_filter',
			options_from_collection_for_select(Vendor.all, "id", "name", params["vendor"]),
			class: 'form-control filter_field',
			id: "filter_field",
			filter_name: "vendor",
			prompt: "Vendor" %>
	</div>
	
	<div class="flex_col"></div>
	
	<div class="flex_col">
		<%= link_to "Add Consultant", new_employee_url, {:class => "button_link", :style=> "background:#36d673;font-size:13px;width:160px;"} %>
	</div>
	
</div>
<div class="section">

  <div class="row top">
    <div class="col"> # </div> 
    <div class="col col25"> Consultant Name </div>
		<div class="col col25"> Project </div> 
    <div class="col"> Contract Type </div>
		<div class="col col25"> Employer </div>
		<div class="col"> Start Date </div>
		<div class="col"> End Date </div>
    <div class="col"> Status </div>
    <div class="col">Actions</div>
  </div>

  <% total_hours = 0 %>
  <% @employees.each_with_index do |employee, index| %>
    <div class="row row_hover_highlight">
      <div class="col">
        <%= index + 1 %>
      </div>
      
      <div class="col col25">
        <%if employee.try(:profile).present?%>
          <%= link_to employee.profile.name, employee_path(id:employee,order:"period"), role:employee.try(:profile).try(:role).try(:downcase) %>
        <%end%>
		<% if employee.disabled %>
		(Disabled)
		<% end %>
      </div>
      
	  <div class="col col25">
         <%# employee.job.blank? ? "(UnAssigned)" : employee.job.title  %>
		 <%= employee.jobs.count <= 0 ? "(UnAssigned)" : employee.active_job.title  %>
      </div>
	  
      <div class="col">
        <%= employee.contract_type.blank? ? "<Not Provided>" : employee.contract_type %>
      </div>
	  
      <div class="col col25">
      	<% if employee.contract_type == "w2" %>
      		<%if !employee.employer.blank? %>
      			<%= employee.employer.company_name %>
      		<% else %>
      		(Not Assigned)
      		<% end %>
      	<% else %>
      	-
      	<% end %>

      </div>
      
      <div class="col">
      	<%= employee.created_at.strftime("%d, %m %Y") %>
      </div>
      <div class="col">
      	<% if employee.disabled %>
      		<%= employee.disable_date.strftime("%d, %m %Y") %>
      	<% else %>
      	-
      	<% end %>
      </div>

      <div class="col">
      	<%= employee.disabled ? "Disabled" : "Active" %>
      </div>

      <div class="col">
		  <%# link_to "Edit", edit_profile_path(employee.profile)%>
		  <%= link_to "View Profile", profile_path(:id => employee.profile.id) %> |
		  <%= link_to "Edit", edit_employee_path(employee)%> |
		  <% if !employee.disabled %><!--disable_job_link-->
		  <a href="#" employee_id="<%=employee.id%>" employee_name="<%=employee.profile.name%>" class="disable_consultant_link">Disable</a>
		  <% end %>
		  

		  <% if current_user.is_admin? %>
		  | <%= link_to 'Destroy', employee_path(employee), data: {:confirm => 'Are you sure?'}, :method => :delete %>
		  <% end %>
      </div>
    </div>
  <% end %>
  

  <div class="row bottom">
    <div class="col">
      
    </div>
    <div class="col col25">
      
    </div>
    <div class="col col25">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      <%# total_hours %>
    </div>
    <div class="col"></div>
  </div>

  
</div>

<div style="float:right">
  		<%= paginate @employees %>
  	</div>
  	<div class="clr"></div>

<%= render "employees/close_consultant_form" %>

