<% vieweing_self = @employee.profile.id == current_user.profile.id %>
<div class="page_heading">Timesheet Management</div>
<div class="flex_row">
	<div class="flex_col">
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Client: </div>
			<div class="flex_col"> <%= @employee.client.blank? ? "(Not Assigned)" : @employee.client.company_name %> </div>
		</div>
	
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Client Address: </div>
			<div class="flex_col"> <%= @employee.client.blank? ? "(Not Assigned)" : @employee.client.company_address %> </div>
		</div>
		
		<div class="" style="height:10px"></div>
		
		<% vendor = @employee.vendors.first %>
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Vendor: </div>
			<div class="flex_col"> <%= vendor.blank? ? "(Not Assigned)" : vendor.company_name %> </div>
		</div>
	
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Vendor Address: </div>
			<div class="flex_col"> <%= vendor.blank? ? "(Not Assigned)" : vendor.company_address %> </div>
		</div>
		
		
	</div>
	<div class="flex_col">
		<% if @employee.contract_type != "w2"%>
		<div class="flex_row info_row">
			<div class="flex_col col_heading" style="width:30%"> Employer: </div>
			<div class="flex_col"> <%= @employee.employer.blank? ? "(Not Assigned)" : @employee.employer.company_name %> </div>
		</div>
		
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Employer Address: </div>
			<div class="flex_col"> <%= @employee.employer.blank? ? "(Not Assigned)" : @employee.employer.company_address %> </div>
		</div>
		
		<div class="" style="height:10px"></div>
		<% end %>
		
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Contract Type: </div>
			<div class="flex_col">
				<%= @employee.contract_type %>
			</div>
		</div>
		<div class="flex_row info_row">
			<div class="flex_col col_heading"> Active Jobs: </div>
			<div class="flex_col">
				<% if @employee.active_postings.count <= 0 %>
					(UnAssigned)
				<% else %>
					<% @employee.active_postings.each do |posting| %>
					<%= "#{posting.job.title} (Started: #{posting.start_date})" %> <br />
					<% end %>
				<% end %>
			</div>
		</div>
	
		
	</div>
	
</div>

<%# today = Date.today # Today's date %>
<%# @days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map %> 
<div class="section" id="calender">
	
	
	
	<%= render "_partials/timesheet_viewer", employees:[@employee],
											 show_unsubmitted:vieweing_self,
											 show_actionables_consultant: vieweing_self,
											 can_submit_timesheet: vieweing_self,
											 can_act: false,
											 show_employee_info: false,
											 show_contract_type: false %>
