<%= form_with(model: work_duration, local: true, html: {class: "col100"}) do |form| %>
  

  <% if work_duration.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(work_duration.errors.count, "error") %> prohibited this work_duration from being saved:</h2>

        <ul>
          <% work_duration.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="container" style="margin:0 auto">
    <div class="section">
      <div class="info">
        <b> Name: </b> <%= @employee != nil ? @employee.profile.full_name : "" %> </br >
        <b> Employee ID: </b> <%= @employee != nil ? @employee.id : "" %> </br >
        <b> Designation: </b> <%= @employee != nil ? @employee.profile.role : "" %> </br >
      </div>
      <div class="clr"></div>
    </div>

<div class="section">

  <% today = Date.today %>
  <% @days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map %>

  
  <div class="row top">
    <div class="col col15">
      Week
    </div>

    <div class="col col12"> <%= work_duration.sunday.strftime("%a %d") %> </div>
    <div class="col col12"> <%= work_duration.monday.strftime("%a %d") %> </div>
    <div class="col col12"> <%= work_duration.tuesday.strftime("%a %d") %> </div>
    <div class="col col12"> <%= work_duration.wednesday.strftime("%a %d") %> </div>
    <div class="col col12"> <%= work_duration.thursday.strftime("%a %d") %> </div>
    <div class="col col12"> <%= work_duration.friday.strftime("%a %d") %> </div>
    <div class="col col12"> <%= work_duration.saturday.strftime("%a %d") %> </div>
    
    <div class="col col6">
      Total Hours
    </div>
    <div class="col col9">
      Status
    </div>
    <div style="clear:both"></div>
  </div>


	<div class="row">
		<div class="col">
			<% date= date.present? ? date.to_datetime : today.at_beginning_of_week%>
			<%= date.strftime("%B %d, %Y") %>
		</div>
    </div>

    <div class="row"> <div class="col"> Hours: <%= form.number_field :hours %> </div> </div>
    <div class="row"> <div class="col"> Work day: <%= form.text_field :work_day %> </div> </div>
    <div class="row"> <div class="col"> project: <%= form.text_field :project_id %> </div> </div>
    <div class="row"> <div class="col"> status: <%= form.text_field :time_sheet_status %> </div> </div>
    <div class="row"> <div class="col"> Time card certified: <%= form.text_field :time_card_certify %> </div> </div>
    <div class="row"> <div class="col"> Company Cert: <%= form.text_field :company_certify %> </div> </div>
    <div class="row"> <div class="col"> Saved for later: <%= form.check_box :save_for_later %> </div> </div>
    <div class="row"> <div class="col"> rejection_message: <%= form.text_field :rejection_message %> </div> </div>
    <div class="row"> <div class="col"> read: <%= form.text_field :status_read %> </div> </div>
    <div class="row"> <div class="col"> job: <%= form.text_field :job_id %> </div> </div>
    <div class="row"> <div class="col"> sun: <%= form.text_field :sun %> </div> </div>
    <div class="row"> <div class="col"> mon: <%= form.text_field :mon %> </div> </div>
    <div class="row"> <div class="col"> tue: <%= form.text_field :tue %> </div> </div>
    <div class="row"> <div class="col"> wed: <%= form.text_field :wed %> </div> </div>
    <div class="row"> <div class="col"> thu: <%= form.text_field :thu %> </div> </div>
    <div class="row"> <div class="col"> fri: <%= form.text_field :fri %> </div> </div>
    <div class="row"> <div class="col"> sat: <%= form.text_field :sat %> </div> </div>
    <div class="row"> <div class="col"> contract type: <%= form.text_field :contract_type %> </div> </div>
    <div class="row"> <div class="col"> employer rate: <%= form.text_field :employer_rate %> </div> </div>
    <div class="row"> <div class="col"> cons rate: <%= form.text_field :consultant_rate %> </div> </div>
    <div class="row"> <div class="col"> job rate: <%= form.text_field :job_rate %> </div> </div>
    <div class="row"> <div class="col"> posting id: <%= form.text_field :posting_id %> </div> </div>
    <div class="row"> <div class="col"> acc mgr: <%= form.text_field :account_manager_id %> </div> </div>

</div>

  <% if @employee != nil %>
  <%= form.hidden_field :eid, :value => @employee.id %>
  <%= form.hidden_field :date,:value=> @date %>
  <% end %>
  <div class="section actions">
    <%= form.submit "Submit",class: "btn btn-primary",style: "width:20%;" %>
  </div>
  <div class="clr"></div>
</div>
<%end%>
