<% if false %>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart', 'bar']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Topping');
    data.addColumn('number', 'Hours');
    data.addRows([
      <% Employee.all.each do |employee| %>
      ['<%= employee.profile.full_name %>', <%= employee.projects.map{|p|p.total_weekly_hours_worked}.reject { |item| item.blank? }.reduce(&:+).to_i %>],
      <% end %>
    ]);

    // Set chart options
    var options = {'title':'Weekly Hours Worked',
                   'width':640,
                   'height':195};

    var options = {
        title: 'Weekly Hours Worked',
        chartArea: {width: '60%'},
        hAxis: {
          title: 'Hours worked',
          minValue: 0
        },
        vAxis: {
          title: 'Employee'
        },
        width: '640',
        height: '195'
      };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>


<div class="heading"> Weekly Time Card Report </div>

<% weekly_hours = 0 %>
<% weekly_charge = 0 %>
<% Employee.all.each do |employee| %>
  <% 
  wh = employee.projects.map { |p| p.weekly_hours_worked.reject { |item| item.blank? }.reduce(&:+)  }.reject { |item| item.blank? }.reduce(&:+).to_i 
  weekly_hours += wh == nil ? 0 : wh
  %>
<% end %>
<div class="info_container">
  <div class="row">
    <div class="col">
      <div class="ti_price"><%= weekly_hours %></div>
      <div class="ti_info">Hours Logged</div>
      <div class="clr"></div>
    </div>

    <div class="clr"></div>
  </div>
</div>

<div id="chart_div" style="margin-left:10px;float:left"></div>

<div class="clr"></div>

<% end %>

<div class="section">

  <div class="row top">
    <div class="col">id</div>
    <div class="col">Consultant</div>
    <div class="col">Period</div>
    <div class="col">Self contained</div>
    <div class="col">Job ID</div>
    <div class="col">employee_id</div>
    <div class="col">job_rate</div>
    <div class="col">consultant_rate</div>
    <div class="col">employer_rate</div>
    <div class="col">STATUS</div>
    <div class="col">Actions</div>
<!--     <div class="col">
      Turnover
    </div> -->
    <div style="clear:both"></div>
  </div>

  <% @work_durations.each do |wd| %>
    <div class="row row_hover_highlight">
      <div class="col"><%= link_to wd.display_id, wd %></div>
      <div class="col"><%= wd.employee.blank? ? "(Missing)" : wd.employee.name %></div>
      <div class="col"><%= wd.period %></div>
      <div class="col"><%= (wd.mon.blank? || wd.mon < 0) ? "NO" : "YES" %></div>
      <div class="col"><%= wd.job_id %></div>
      <div class="col"><%= wd.employee_id %></div>
      <div class="col"><%= wd.job_rate %></div>
      <div class="col"><%= wd.consultant_rate %></div>
      <div class="col"><%= wd.employer_rate %></div>
      <div class="col"><%= wd.time_sheet_status %></div>
      <div class="col"><%= link_to "Fix", fix_job_issue_work_durations_path(wdid: wd.id), method:"PUT" %></div>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= paginate @work_durations %>
    </div>
  </div>
  <%= link_to "Fix Bulk", fix_job_issue_work_durations_path, method:"PUT" %>
  <div class="row">
    <div class="col" style="text-align: left;">
      <b>Legends:</b>
      <ul>
        <li>A: each day of week has saperate wd, B: each day is stored as wd's property</li>
      </ul>
    </div>
  </div>

  <% if params[:debug].present? %>
    <div class="row">
      <div class="col">
        <%- wds = WorkDuration.all %>
        Total:
        <%= wds.count %>
        <br />
        Have employees:
        <%= wds.select{|wd|!wd.employee.blank?}.count %>
        <br />
        Have Jobs:
        <%= wds.select{|wd|!wd.employee.blank?}.select{|wd|!wd.employee.active_job.blank?}.count %>
      </div>
    </div>
  <% end %>

</div>