.flex_row
	.flex_col
		= link_to "Time Sheet List", time_sheet_approval_account_managers_path()
		.div{:style=>"font-size:28px"}
			=# @work_duration.employee.profile.name
			>Employee Name<
		.div{:style=>"font-weight:bold;font-size:12px"}
			TIME SHEET
			- if current_user.is_admin? || current_user.is_account_manager?
				= link_to "(edit)", edit_work_duration_path(@work_duration)
	.flex_col{:style=>"flex-shrink:30"}
		-# if  (!@work_duration.is_past_due_date? && @work_duration.is_pending?) || @work_duration.is_resubmitted?
			
.flex_row
	.flex_col
		.flex_row.top_header_title
			Status
		.flex_row.top_header_value
			= @work_duration.time_sheet_status.capitalize
	.flex_col
		.flex_row.top_header_title
			Time Sheet ID
		.flex_row.top_header_value
			= @work_duration.display_id
	.flex_col
		.flex_row.top_header_title
			Period
		.flex_row.top_header_value
			= @work_duration.period
	.flex_col
		.flex_row.top_header_title
			Supplier
		.flex_row.top_header_value
			Vertex IT Systems
	.flex_col{:style=>"flex-grow:10"}
%hr
.div{:style=>"border-bottom:1px solid var(--main-color);color:var(--main-color);width:60px;text-align:center;margin-bottom: -16px;"}
	Details
%hr
.time_sheet_details_container
	Worker ID
	%br
	= @work_duration.id
	.tsd_container
		.tsd_section_header
			Time Worked
		.flex_row.tsd_row
			.flex_col.tsd_col{:style=>"flex-shrink: 0.9;"}
				%b
					Day
			.flex_col.tsd_col{:style=>"text-align:right"}
				= @work_duration.sunday.strftime("%m/%d")
				%br
				= @work_duration.sunday.strftime("%a")
			.flex_col.tsd_col_right
				= @work_duration.monday.strftime("%m/%d")
				%br
				= @work_duration.monday.strftime("%a")
			.flex_col.tsd_col_right
				= @work_duration.tuesday.strftime("%m/%d")
				%br
				= @work_duration.tuesday.strftime("%a")
			.flex_col.tsd_col_right
				= @work_duration.wednesday.strftime("%m/%d")
				%br
				= @work_duration.wednesday.strftime("%a")
			.flex_col.tsd_col_right
				= @work_duration.thursday.strftime("%m/%d")
				%br
				= @work_duration.thursday.strftime("%a")
			.flex_col.tsd_col_right
				= @work_duration.friday.strftime("%m/%d")
				%br
				= @work_duration.friday.strftime("%a")
			.flex_col.tsd_col_right
				= @work_duration.saturday.strftime("%m/%d")
				%br
				= @work_duration.saturday.strftime("%a")
			.flex_col.tsd_col_right{:style=>"flex-shrink: 0.9;"}
				Total
		.flex_row.tsd_row
			.flex_col.tsd_col
				%b
					Billable
		.flex_row.tsd_row
			.flex_col.tsd_col
				Digital Self Mobil
		- def get_hours_for_day(day)
			- wday = @work_duration.select_day(day)
			- return wday.blank? ? "0.0" : wday.hours.to_f
		- hours_array = @work_duration.fetch_hours_array
		.flex_row.tsd_row{:style=>"background:#fff;display:flex"}
			.flex_col.tsd_col{:style=>"flex-shrink: 0.9;"}
				ST/Hr
			- hours_array.each do |hours|
				.flex_col.tsd_col_right
					= hours
			.flex_col.tsd_col_right{:style=>"flex-shrink: 0.9;"}
				= hours_array.compact.inject(:+)
		.flex_row.tsd_row{:style=>"background:#f5fafe"}
			.flex_col.tsd_col{:style=>"flex-shrink: 0.9;"}
				Total
			- hours_array.each do |hours|
				.flex_col.tsd_col_right
					= hours
			.flex_col.tsd_col_right{:style=>"flex-shrink: 0.9;"}
				= hours_array.inject(:+)#@work_duration.total_hours_worked#@work_duration.all_days.map{|x|x.hours}.inject(:+).to_f
		.tsd_section_header
			Position Information
			.flex_row.tsd_row{:style=>"background:#fff;padding:6px"}
				.flex_col{:style=>"flex-shrink:3"}
					Submit Date
				.flex_col
					= @work_duration.created_at
			.flex_row.tsd_row{:style=>"background:#fff;padding:6px"}
				.flex_col{:style=>"flex-shrink:3"}
					Work Order/Work Order Revision Owner
				.flex_col
					(Not Provided)
			.flex_row.tsd_row{:style=>"background:#fff;padding:6px"}
				.flex_col{:style=>"flex-shrink:3"}
					Site
				.flex_col
					=# @work_duration.employee.active_job.location
					>Employee Active Job Location<
- if params[:debug_zzx]
	-# sql = "Select * from projects WHERE work_duration_id = 1"
	-# records_array = ActiveRecord::Base.connection.execute(sql)
	PID: 
	= @work_duration.project_id
	| EMP: 
	= @work_duration.employee.profile.name
	| JOB: 
	= @work_duration.employee.active_job.title
	%br/ 
	PID:
	- proj = Project.find(@work_duration.project_id)
	= proj.id
	| EMP: 
	= proj.employee.profile.name
	| JOB: 
	= proj.employee.active_job.title
	%br/
	JID:
	= @work_duration.job_id
	| EID:
	= @work_duration.employee_id
	=# WorkDuration.find(7).employee.profile.name
		

/ <% if false %>
/
/ <p id="notice"><%= notice %></p>
/
/ <h1><%= @work_duration.employee.profile.name %></h1>
/ <b>Weekly Timesheet</b>
/ <div class="flex_row">
/ 	<div class="flex_col">
/ 		<div class="flex_row info_header">
/ 		STATUS
/ 		</div>
/ 		<div class="flex_row info_details">
/ 		<%= @work_duration.time_sheet_status %>
/ 		</div>
/ 	</div>
/ 	<div class="flex_col">
/ 		<div class="flex_row info_header">
/ 		TIMESHEET ID
/ 		</div>
/ 		<div class="flex_row info_details">
/ 		<%= @work_duration.display_id %>
/ 		</div>
/ 	</div>
/
/ 	<div class="flex_col">
/ 		<div class="flex_row info_header">
/ 		PERIOD
/ 		</div>
/ 		<div class="flex_row info_details">
/ 			<%= @work_duration.work_day.strftime("%b %d, %Y") %> - <%= (@work_duration.work_day + 4).strftime("%b %d, %Y") %>
/ 		</div>
/ 	</div>
/
/ 	<div class="flex_col">
/ 		<div class="flex_row info_header">
/ 		VENDOR
/ 		</div>
/ 		<div class="flex_row info_details">
/ 		<%= @work_duration.vendor.blank? ? "<Not Available>" : @work_duration.vendor.name %>
/ 		</div>
/ 	</div>
/
/ 	<div class="flex_col">
/ 		<div class="flex_row info_header">
/ 		PROJECT ID
/ 		</div>
/ 		<div class="flex_row info_details">
/ 		<%= @work_duration.project.display_id %>
/ 		</div>
/ 	</div>
/ </div>
/ <% if @work_duration.time_sheet_status == "rejected"%>
/ <div class="notification_container flex_col" style="margin:20px;width:90%">
/ 	<b>Rejected with reason:</b> <%= @work_duration.rejection_message %>
/ </div>
/ <% end %>
/ <div class="flex_col">
/ 	<div class="flex_row info_row" style="border-top:2px solid #DDD">
/ 		<div class="flex_col info_col" style="background-color:var(--main-color);color:#FFF">
/ 			DAY
/ 		</div>
/ 		<% @work_duration.all_days.each do |day| %>
/ 		<div class="flex_col info_col" style="background-color:var(--main-color);color:#FFF;text-align:right">
/ 			<%= day.work_day.strftime("%b %d") %>
/ 			<br /><%= day.work_day.strftime("%a") %>
/ 		</div>
/ 		<% end %>
/ 		<div class="flex_col info_col" style="background-color:var(--main-color);color:#FFF">
/ 			Total
/ 		</div>
/ 	</div>
/ 	<div class="flex_row info_row">
/ 		<div class="flex_col info_col" style="padding:5px; text-align:left">
/ 			<b>Billable</b>
/ 		</div>
/ 	</div>
/ 	<div class="flex_row info_row">
/ 		<div class="flex_col info_col" style="padding:5px; text-align:left">
/ 			<b>Project ID:</b> <%= @work_duration.project.display_id %>
/ 		</div>
/ 	</div>
/ 	<div class="flex_row info_row">
/ 		<div class="flex_col info_col">
/ 			ST /Hr
/ 		</div>
/ 		<% @work_duration.all_days.each do |day| %>
/ 		<div class="flex_col info_col">
/ 			<%= day.hours.to_f %>
/ 		</div>
/ 		<% end %>
/ 		<div class="flex_col info_col">
/ 			<%= @work_duration.all_days.map{|wd|wd.hours}.inject(0, :+).to_f %>
/ 		</div>
/ 	</div>
/
/ 	<div class="flex_row info_row" style="background:#FFC">
/ 		<div class="flex_col info_col">
/ 			Total
/ 		</div>
/ 		<% @work_duration.all_days.each do |day| %>
/ 		<div class="flex_col info_col">
/ 			<%= day.hours.to_f %>
/ 		</div>
/ 		<% end %>
/ 		<div class="flex_col info_col">
/ 			<%= @work_duration.all_days.map{|wd|wd.hours}.inject(0, :+).to_f %>
/ 		</div>
/ 	</div>
/ </div>
/ <%= link_to "Generate Printable Report",
/ 	timesheet_report_account_managers_url(emp:@work_duration.employee.id,from_date:@work_duration.work_day,to_date:@work_duration.work_day + 5,format:"pdf"),
/ 	class: "button_link", style: "float:right" %>
/
/
/ <div class="" style="font-size:24px;margin-top:50px">Posting Information</div>
/ <div class="flex_col">
/ 	<div class="flex_row info_row">
/ 		<div class="flex_col" style="width:30%">
/ 			Submit Date:
/ 		</div>
/ 		<div class="flex_col">
/ 			<%= @work_duration.updated_at %>
/ 		</div>
/ 	</div>
/
/ 	<div class="flex_row info_row">
/ 		<div class="flex_col" style="width:30%">
/ 			Client:
/ 		</div>
/ 		<div class="flex_col">
/ 			<% client = @work_duration.employee.client %>
/ 			<%= client.blank? ? "(Not Assigned)" : client.company_name %>
/ 		</div>
/ 	</div>
/
/ 	<div class="flex_row info_row">
/ 		<div class="flex_col" style="width:30%">
/ 			Client Address:
/ 		</div>
/ 		<div class="flex_col">
/ 			<%= client.blank? ? "(Not Assigned)" : client.company_address %>
/ 		</div>
/ 	</div>
/ </div>
/
/
/ <% end %>