:javascript
	var alert_msg_success = "<div class='alert alert-success alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Success! Consultant information loaded.</div>";
	function bind_remove_employee_button(){
		$('.remove_employee').unbind("click");
		$(".remove_employee").click(function(){
			$(this).parent().parent().remove();
			
			//alert(!$.trim( $('#added_employees').html() ).length);

			if( !$.trim( $('#added_employees').html() ).length ) {
				$("#no_consultant_msg").show();
			}

			return false;
		});
	}
	$( document ).ready(function() {
		$("#add_item_link").click(function(){
			
			var url = $(this).attr("fetch_info_link");
			var eid = $("#employee_id_select").find(":selected").val();
			
			if (eid == ""){
				// -1 because the first item is blank value
				var total = $("#employee_id_select option").length  - 1;
				var loaded = 1;
				
				$("#employee_id_select option").each(function(){
						var eid = $(this).val();
						if (eid != ""){
							
							fetch_item(url, eid, function(data){
								fill_item_with_result(data);
								loaded++;
							
							
								if (loaded < total){
								
									var msg = "<div class='alert alert-secondary alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Loading! "+ loaded +" out of "+ total +" Items loaded.</div>"
								
									show_alert(msg);
								
								} else {
									show_alert(alert_msg_success);
								}
							
							});
							
						}
						
				});
				
			} else {
				fetch_item(url, eid, function(data){
					fill_item_with_result(data);
					show_alert(alert_msg_success);
				});
			}
			
			
			return false;
		});
		
		$("#vendor_select").change(function(){
			if(document.location.href.indexOf("?") > -1) {
				var url = location.protocol + '//' + location.host + location.pathname
				url = url+"?vid="+$(this).val();
			}else{
				var url = document.location.href+"?vid="+$(this).val();
			}
			document.location = url;
		});

		$("#client_select").change(function(){
			if(document.location.href.indexOf("?") > -1) {
				var url = location.protocol + '//' + location.host + location.pathname
				url = url+"?cid="+$(this).val();
			}else{
				var url = document.location.href+"?cid="+$(this).val();
			}
			document.location = url;
		});
		
		$("#invoice_form").submit(function( event ) {
			
			if ($("#added_employees").children().length <= 0){
				alert("Atleast on item must be added to the invoice before generating it.");
				event.preventDefault();
			}
			
		});
		
		$("#load_all_link").click(function(){
			var x = $("#employee_id_select").find(":selected").val();//$("#employee_id_select").val();
			alert("x: " + (x == ""));
			var url = $(this).attr("fetch_info_link");
			$("#employee_id_select option").each(function(){
					fetch_item(url, $(this).val());
			});

			return false
		});
	});
	
	function show_loader(){
		$("#alert_display").html("");
		$("#alert_display").append("<div class='spinner-border' role='status'><span class='sr-only'>Loading...</span></div>");
	}
	function show_alert(message){
		$("#alert_display").html("");
		
		$("#alert_display").append(message);
	}
	
	function fetch_item(url, eid, successFunction){
		var date = $("#period_").val().split(" to ");
		var sd = date[0];
		var ed = date.length > 1 ? date[1] : date[0];

		show_loader();

		$.ajax({
			url: url,
			type: 'PUT',
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			data: "eid="+eid+"&start="+sd+"&end="+ed,
			success: function(data) {
				if($.trim(data["result"]) == "true"){
					
					successFunction(data);
					
				} else {
					
					$("#alert_display").html("");
					
					$("#alert_display").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Error! Unable to fetch consultant data ("+data["status"]+").</div>")
				}
			},
			failure: function(error){
				$("#alert_display").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Error! Unable to fetch consultant data ("+error+").</div>")
			}
		});
		
	}
	function fill_item_with_result(data){
		if ( $("#no_consultant_msg").css('display') != 'none' || $("#no_consultant_msg").css("visibility") != "hidden"){
			$("#no_consultant_msg").hide();
		}


		//$("#alert_display").html("");
		
		//$("#alert_display").append("<div class='alert alert-success alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Success! Consultant information loaded.</div>")
		
		var rate  = parseInt(data["rate"]);
		var quant = parseInt(data["quantity"]);
		
		var sid = data["emp_id"] + data["start_date"] + data["end_date"]
		
		var eid_f =  "<input type='hidden' value='"+data["emp_id"]+"' id='employees_"+sid+"_emp_id' name='employees["+sid+"][emp_id]'>"
		var sdate_f = "<input type='hidden' value='"+data["start_date"]+"' id='employees_"+sid+"_start_date' name='employees["+sid+"][start_date]'>"
		var edate_f = "<input type='hidden' value='"+data["end_date"]+"' id='employees_"+sid+"_end_date' name='employees["+sid+"][end_date]'>"
		var quant_f = "<input type='hidden' value='"+quant+"' id='employees_"+sid+"_quant' name='employees["+sid+"][quant]'>"
		var rate_f = "<input type='hidden' value='"+rate+"' id='employees_"+sid+"_rate' name='employees["+sid+"][rate]'>"

		var client_id = "<input type='hidden' value='"+data["client_id"]+"' id='employees_"+sid+"_client_id' name='employees["+sid+"][client_id]'>"
		
		 
		var input_fields = eid_f + sdate_f + edate_f + quant_f + rate_f;

		$("#added_employees").append("<div class='row py-2'> <div class='col'><b>"+data["designation"]+data["emp_name"]+"</b><br /><span class='text-muted'>Working hours for week "+data["start_date"]+" to "+data["end_date"]+"</span></div><div class='col-2'>"+quant+"</div><div class='col-2'>$"+rate+".0</div><div class='col-2'>$"+(quant*rate)+".0</div><div class='col-1'><a href='#' class='remove_employee'>Remove</a></div>"+input_fields+" </div>");
		
		
		bind_remove_employee_button();
	}
	
.container-fluid
	= form_tag(generate_invoice_invoices_path, id:"invoice_form") do
		.row.py-2
			.col.mx-2
				.row
					.col
						%b Bill To
						- if (params[:t].present? && params[:t] == "vendor" ) || params[:vid].present?
							(Vendor):
						- else
							(Client):
				.row
					.col
						- if (params[:t].present? && params[:t] == "vendor" ) || params[:vid].present?
							= select_tag :vendor, options_from_collection_for_select(Vendor.all, :id, :company_name, (@vendor.blank? ? 0 : @vendor.id)), id: "vendor_select", include_blank: "All"
						- else
							= select_tag :client, options_from_collection_for_select(Client.all, :id, :company_name, (@client.blank? ? 0 : @client.id)), id: "client_select", include_blank: "All"
						=# text_field :type, :reciever_type, (params[:t].present? ? params[:t] : (params[:vid].present? ? "vendor" : "client"))
						= hidden_field :reciever, :type, :value => (params[:t].present? ? params[:t] : (params[:vid].present? ? "vendor" : "client"))
				.row.content-right
					.col{style:"text-align:right"}
						- if ( params[:t].present? && params[:t] == "client" ) || params[:cid].present?
							= link_to "Switch to Vendor Invoice", create_new_invoice_invoices_path(t:"vendor")
						- else
							= link_to "Switch to Client Invoice", create_new_invoice_invoices_path(t:"client")
			.col.mx-2
				.row
					.col
						%b Net:
				.row
					.col
						= select_tag :net, options_for_select(["Net15", "Net30", "Net45"])

		- if @employees.count > 0
			.row.rounded.bg-sec-highlight.m-3
				.col
					.row.p-2
						%b Add Consultants
					.row
						.col-5.p-2
							= select_tag :employee, options_from_collection_for_select(@employees.includes(:profile).all, :id, :name, '1'), id:"employee_id_select", include_blank: "All"
						.col-5.p-2
							= text_field :period, "", value:Date.today, class:"date_range_field"
						.col-auto.align-middle
							= link_to "Add Item", "#", class: "btn border-left py-3", id: "add_item_link", style:"display:block", fetch_info_link: "#{json_employee_info_invoices_path}.json"
					.row
						.col-2
						.col
							.col#alert_display
						.col-2
					.row
						.col
							.row.rounded-top.bg-main-color
								.col
									Item
								.col-2
									Quantity
								.col-2
									Rate
								.col-2
									Amount
								.col-1
									Actions
							.row
								.col
									.row.py-3#no_consultant_msg
										.col.text-center
											%b No Consultants Added
									.row
										.col#added_employees
			.row.py-2
				.col
				.col-2
					= submit_tag 'Generate Invoice', class: "submit_button", id:"generate_invoice_link", data: { disable_with: false }
		- else
			.alert.alert-danger
				Selected Client has no employees.
				
=# link_to "click_me", "#", id:"load_all_link", fetch_info_link: "#{json_employee_info_invoices_path}.json"
