:javascript
	function bind_remove_employee_button(){
		$('.remove_employee').unbind("click");
		$(".remove_employee").click(function(){
			$(this).parent().parent().remove();
			
			//alert(!$.trim( $('#added_employees').html() ).length);

			if( !$.trim( $('#added_employees').html() ).length ) {
				$("#no_consultant_msg").show();
			}

			return false;
		});
	}
	$( document ).ready(function() {
		$("#add_item_link").click(function(){
			
			var url = $(this).attr("fetch_info_link");
			var eid = $("#employee_id_select").find(":selected").val();
			var date = $("#period_").val().split(" to ");
			var sd = date[0];
			var ed = date.length > 1 ? date[1] : date[0];

			$("#alert_display").html("");
			$("#alert_display").append("<div class='spinner-border' role='status'><span class='sr-only'>Loading...</span></div>");

			$.ajax({
				url: url,
				type: 'PUT',
				beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
				data: "eid="+eid+"&start="+sd+"&end="+ed,
				success: function(data) {
					if($.trim(data["result"]) == "true"){
						if ( $("#no_consultant_msg").css('display') != 'none' || $("#no_consultant_msg").css("visibility") != "hidden"){
							$("#no_consultant_msg").hide();
						}


						$("#alert_display").html("");
						
						$("#alert_display").append("<div class='alert alert-success alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Success! Consultant information loaded.</div>")
						
						var rate  = parseInt(data["rate"]);
						var quant = parseInt(data["quantity"]);
						
						var sid = data["emp_id"] + data["start_date"] + data["end_date"]
						
						var eid_f =  "<input type='hidden' value='"+data["emp_id"]+"' id='employees_"+sid+"_emp_id' name='employees["+sid+"][emp_id]'>"
						var sdate_f = "<input type='hidden' value='"+data["start_date"]+"' id='employees_"+sid+"_start_date' name='employees["+sid+"][start_date]'>"
						var edate_f = "<input type='hidden' value='"+data["end_date"]+"' id='employees_"+sid+"_end_date' name='employees["+sid+"][end_date]'>"
						var quant_f = "<input type='hidden' value='"+quant+"' id='employees_"+sid+"_quant' name='employees["+sid+"][quant]'>"
						var rate_f = "<input type='hidden' value='"+rate+"' id='employees_"+sid+"_rate' name='employees["+sid+"][rate]'>"

						var client_id = "<input type='hidden' value='"+data["client_id"]+"' id='employees_"+sid+"_client_id' name='employees["+sid+"][client_id]'>"
						
						 
						var input_fields = eid_f + sdate_f + edate_f + quant_f + rate_f;

						$("#added_employees").append("<div class='row py-2'> <div class='col'><b>"+data["designation"]+data["emp_name"]+"</b><br /><span class='text-muted'>Working hours for week "+data["start_date"]+" to "+data["end_date"]+"</span></div><div class='col-2'>"+quant+"</div><div class='col-2'>$"+rate+".0</div><div class='col-2'>$"+(quant*rate)+".0</div><div class='col-1'><a href='#' class='remove_employee'>Remove</a></div>"+input_fields+" </div>");
						
						
						bind_remove_employee_button();
					} else {
						
						$("#alert_display").html("");
						
						$("#alert_display").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Error! Unable to fetch consultant data ("+data["status"]+").</div>")
					}
				},
				failure: function(error){
					$("#alert_display").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Error! Unable to fetch consultant data ("+error+").</div>")
				}
			});
			return false;
		});
		
		
		$("#vendor_select").change(function(){
			//var url = window.location.href;
			//window.location.href = url;
			
			if(document.location.href.indexOf("?") > -1) {
				var url = location.protocol + '//' + location.host + location.pathname
				url = url+"?vid="+$(this).val();
			}else{
				var url = document.location.href+"?vid="+$(this).val();
			}
			document.location = url;
			
		});
	});
.container-fluid
	= form_tag(generate_invoice_invoices_path) do
		.row.py-2
			.col
			.col-1{style:"text-align:right"}
				%b Date:
			.col-2{style:"text-align:left"}
				= Date.today.strftime("%B %d, %YY")
		.row.py-2
			.col.mx-2
				.row
					%b Bill To:
				.row
					= select_tag :vendor, options_from_collection_for_select(Vendor.all, :id, :company_name, (@vendor.blank? ? 0 : @vendor.id)), id: "vendor_select", include_blank: "All"
			.col.mx-2
				.row
					%b Net:
				.row
					= select_tag :net, options_for_select(["Net15", "Net30", "Net45"])
		- if @employees.count > 0
			.row.rounded.bg-sec-highlight.m-3
				.col
					.row.p-2
						%b Add Consultants
					.row
						.col.p-2
							= select_tag :employee, options_from_collection_for_select(@employees.includes(:profile).all, :id, :name, '1'), id:"employee_id_select"
						.col.p-2
							= text_field :period, "", value:Date.today, class:"date_range_field"
						.col-1.align-middle
							= link_to "Add Item", "#", class: "border-left py-3", id: "add_item_link", style:"display:block", fetch_info_link: "#{json_employee_info_invoices_path}.json"
					.row
						.col-2
						.col
							.col#alert_display
						.col-2
					.row
						.col
							.row.rounded-top.bg-main-color
								.col
									Item
								.col-2
									Quantity
								.col-2
									Rate
								.col-2
									Amount
								.col-1
									Actions
							.row
								.col
									.row.py-3#no_consultant_msg
										.col.text-center
											%b No Consultants Added
									.row
										.col#added_employees
			.row.py-2
				.col
				.col-2
					= submit_tag 'Generate Invoice', class: "submit_button"
		- else
			.alert.alert-danger
				Selected Client has no employees.
