<%- total_quants = @values.map{|v|v[:quant].to_i}.inject(:+) %>
<%- total_amount  = @values.map{|v|v[:rate].to_f * v[:quant].to_f}.inject(:+) %>
<%- total_amount_string = "$#{number_with_precision(total_amount, :precision => 2, :delimiter => ',')}" %>

<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<%= wicked_pdf_stylesheet_link_tag "bootstrap.min" %>

<div class="container">
  <div class="row">
    <div class="col">
      <b>Vertex IT Systems LLC</b>
    </div>
    <div class="col text-right" style="font-size:42px">
      INVOICE
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col">
      <div class="row color-muted">
        <div class="col">Bill To:</div>
      </div>
      <div class="row"><div class="col"><b><%= @client.company_name %></b></div></div>
      <div class="row"><div class="col"><%= @client.company_address %></div></div>
    </div>
    <div class="col-2">
      <div class="row"><div class="col"><b>Date:</b></div></div>
      <div class="row"><div class="col"><b>Payment Terms:</b></div></div>
      <div class="row"><div class="col"><b>Due Date:</b></div></div>
    </div>
    <div class="col-2">
      <div class="row"><div class="col"><%= Date.today %></div></div>
      <div class="row"><div class="col"><%= params[:net] %></div></div>
      <div class="row"><div class="col"><%= Date.today + (15 * (["Net15", "Net30", "Net45"].index(params[:net]) + 1) ) %></div></div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col"></div>
    <div class="col border" style="background-color:#EEE;font-size:24px">
      <div class="row">
        <div class="col">
          <b>Balance Due:</b>
        </div>
        <div class="col text-right">
          <b><%= total_amount_string %></b>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 bg-secondary text-light border" style="font-variant: petite-caps;">
    <div class="col-0 border-left text-center" style="min-width:50px"><b>#</b></div>
    <div class="col border-left"><b>Item</b></div>
    <div class="col-1 border-left" style="min-width:100px"><b>Quantity</b></div>
    <div class="col-1 border-left"><b>Rate</b></div>
    <div class="col-1 border-left" style="min-width:100px"><b>Amount</b></div>
  </div>
  <% @values.each_with_index do |p,i| %>
    <div class="row py-2 border" style="<%= "background-color:#EEE" if i%2==0 %>">
      <div class="col-0 text-center" style="min-width:50px"> <%= i %> </div>
      <div class="col border-left">
        <%- emp = @employees.select{|e|e.id == p[:emp_id].to_i}.first %>
        <b><%= emp.blank? ? "(Not Found)" : emp.profile.name %> </b>
        <br />
        <%= "Working hours from #{p[:start_date].to_date.strftime("%a %b #{p[:start_date].to_date.day.ordinalize}")} to #{p[:end_date].to_date.strftime("%a %b #{p[:end_date].to_date.day.ordinalize}")}" %>
      </div>
      <div class="col-1 border-left" style="min-width:100px">
        <%= p[:quant].to_f %>
      </div>
      <div class="col-1 border-left">
        <%= p[:rate].to_f %>
      </div>
      <div class="col-1 border-left" style="min-width:100px">
        <%= "$#{p[:quant].to_f * p[:rate].to_f}" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col">
  </div>
  <div class="col">
    
    <div class="row">
      <div class="col"> Subtotal: </div>
      <div class="col"> <%= total_amount_string %> </div>
    </div>

    <div class="row">
      <div class="col"> Tax(0%): </div>
      <div class="col"> $0.00 </div>
    </div>

    <div class="row">
      <div class="col"> Total: </div>
      <div class="col"> <%= total_amount_string %> </div>
    </div>

  </div>
</div>
<style>
  /*
  @font-face {
      font-family: Liberation;
      src: url(LiberationSerif-Regular.ttf);
  }
  @font-face {
      font-family: Liberation-bold;
      src: url(LiberationSerif-bold.ttf);
  }
  @page { size: auto;  margin: 7mm; }
  input[type="checkbox"]{
    width:25px;
    height:25px;
  }
  .extra-space{
    margin:30px 0px !important
  }
  .consent_para{
    margin:10px;
    font-size:20px;
  }
  .custom-row-margin{
    margin-left:5px;
    margin-right:5px;
  }
  .margin-none{
    margin:10px 0px;
  }
  .margin-top-minus{
    margin-top:-75px;
  }
  .margin-top-minus-10{
    margin-top:-10px;
  }
  .upper-name-block{
    font-family: Liberation-bold;
  }
  .lab_log {
    width: 130px !important;
    height: 100px  !important;
  }
  .main-head{
    font-size:18px;
  }
  .name-block{
    margin:10px 20px;
  }
  .text-left{
    text-align:left;
  }
  .vertex-logo img {
    width: 180px;
//    height: 40px;
  }
  .vertex-logo{
    //padding-bottom:160px;
  }
  .bottom_barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .bottom_barcode_pos{
    margin-top:-50px;
  }
  .bottom-name-block{
    padding-left:30px;
  }
  .barcode_pos{
    margin-top:-50px;
  }
  .no-bg-grey-color{
    margin:5px;
  }
  .bg-grey-color{
    border-bottom:1px solid #9d9d9d;
    font-weight:bold;
  }
  .barcode_pos .barcode_img{
    width: 100% !important;
    height: 40px;
  }
  .barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .qrcode_img_up{
    margin-left: -25px;
    margin-top: -35px;
    width: 100%;
    heigt: 100%;
    float:right;
  }
  .qrcode_img_down{
    margin-left: -25px;
    width: 110%;
    float:right;  
  }
  .qrcode_img{
    margin-left: -25px;
    margin-top: -35px;
    width: 90%;
    float:right;
  }
  .small_qrcode_img{
    margin-left: -25px;
    margin-top: -10px;
    width: 25%;
  }
  .instruction_img{
    width:400px;
  }
  .instruction_big_img{
    width:650px;
  }
  .margin-left-40 {
    margin-left: -40px !important;
  }
  .margin-left-56 {
    margin-left: -75px !important;
  }
  .margin-left-right-30 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .height-70 {
    height: 70px;
  }
  .margin-top-15 {
    margin-top: 15px;
  }
  .line-height-30 {
    line-height: 30px;
  }
  .line-height-20{
    line-height:20px;
  }
  .margin-top-30 {
    margin-top: 30px;
  }
  .underline {
    text-decoration: underline;
  }
  .color-light-black {
    color: #3f3f3f;
  }
  .font-size-18 {
    font-size: 17px;
  }
  .font-size-12 {
    font-size: 12px !important;
  }
  .font-size-14 {
    font-size: 14px !important;
  }
  .padding-top-bottom-5 {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .padding-bottom-10 {
    padding-bottom: 10px;
  }
  .color-black {
    color: black;
  }
  .margin-left-18 {
    margin-left: 18px;
  }
  .margin-left-31 {
    margin-left: -31px !important;
  }
  
  .grey_backgroud {
      background:#A9A9A9;
  }
  
  .border_line {
      border: 1px solid #dddddd;
  }
  .nopadding {
     margin-top: -10px !important;
  }
  .margin-top-minus-4 {
     margin-top: -4px !important;
  }
  .margin-top-0 {
     margin-top: -0px !important;
     margin-left: -12px !important;
  }
  .margin-top-4 {
     margin-top: 4px !important;
  }
  .padding-left-40 {
    padding-left: 200px !important;
  }
  .margin-left-33 {
    margin-left: 33% !important;
  }
  .margin-left-1 {
    margin-left: 100px !important;
  } 
  
  .font-size-10 {
    font-size: 10px;
  }
  .margin-left-10{
    margin-left: -10px !important;
   }
   .margin-left-30{
    margin-left: -30px !important;
   }
  .margin-left-60{
    margin-left: -60px
  }
  .bottom-right{
    position: absolute;
    bottom: 10px;
    width: 50%;
    margin-left:39%;
  }
  .defult-border-left{
    border-left: 1px solid #ddd;
  }
  .text-align-right
  {
    text-align: right;
  }
  .padding-left-30{
    padding-left: 100px !important;
  }
*/
</style>
<!--
<div class="container">
  
  <div>
    <div class="row">
      <div class="col-xs-5">
        <div class="vertex-logo">
        	<img src="https://i.ibb.co/sg4pBjv/Logo.png">
        </div>
      </div>
      <div class="col-xs-7" style="line-height: 30px;text-align: center;margin-top:60px;margin-left:80px;">
        <h4 style="color: black;text-align: center; font-weight:bold;">
          <strong>Vertex Job Portal</strong>
        </h4>
        <h4 class="color-black text-center" style="text-transform: uppercase;">
          <div>
            <strong>Employee Wise Report</strong>
          </div>
        </h4>
      </div>
    </div>
    <div class="row color-black">
      <div class="col-xs-12" style="margin-top:12px!important;">
        <table class="table table-striped col-xs-3 font-size-12">
          <tr class="panel panel-default border_line cell-border">
            <th class="text-center col-xs-2">Date</th>
            <th class="text-center col-xs-2">Employee Name</th>
            <% today = Date.today %>
            <% for day in (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day } do %>
              <th class="text-center">
                <%= day.strftime("%a") %>
              </th>
            <% end %>
            <th class="text-center">Total Hours</th>
            <th class="text-center col-xs-2">Time Sheet Status</th>
          </tr>
          <tbody class="border_line cell-border" style="text-align: center;">
            <% total_hours = [] %>
            <% [].each_with_index do |work,index| %>
              <tr>
                <td class="defult-border-left tr1">
                  <%= work.second.first.work_day.at_beginning_of_week.strftime("%B %d, %Y") %>
                </td>
                <td class="defult-border-left tr1">
                  <%= work.first.first %>
                </td>
                <% (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day }.each_with_index do |day, index| %>
                  <% hw = work.second.select{|w| w if w.work_day.strftime("%A") == day.strftime("%A")}  %>
                  <td class="defult-border-left tr1">
                    <%= hw.count > 0 ? hw.first.hours : 0 %>
                  </td>
                <% end %>
                <td class="defult-border-left tr1">
                  <% total_hours << work.second.collect(&:hours).compact.inject(:+) %>
                  <%= work.second.collect(&:hours).compact.inject(:+) %>
                </td>
                <td class="defult-border-left tr1">
                  <%= work.try(:second).try(:first).try(:time_sheet_status) %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td class="defult-border-left"></td>
              <td class="defult-border-left"></td>
              <td class="defult-border-left"></td>
              <td class="defult-border-left"></td>
              <td class="defult-border-left"></td>
              <td class="defult-border-left"></td>
              <td class="defult-border-left"></td>
              <td class="defult-border-left"></td>
              <td class="defult-border-left">
                <strong>Total</strong>
              </td>
              <td class="defult-border-left">
                <strong>
                  <%= total_hours.inject(:+) %>
                </strong>
              </td>
              <td class="defult-border-left"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
-->
