%div.heading 
  Manage Assistants
%div
  = link_to "New Assistant", new_profile_url(role:"assistant"), {:class => "button_link"}
%div.section
  %div.row.top
    %div.col
      \#
    %div.col.col25
      Name
    %div.col.col25
      Created At
    %div{:style => "clear:both"}
  - @assistants.each_with_index do |assistant, index| 
    %div.row
      %div.col
        = index + 1
      %div.col.col25      
        -if assistant.try(:profile).present?
          = link_to  assistant.try(:profile).try(:full_name), edit_profile_path(assistant.try(:profile).try(:id),role:assistant.try(:profile).try(:role).try(:downcase))  
      %div.col.col25      
        = assistant.created_at.strftime("%Y-%m-%d %H:%M") 
      %div{style: "clear:both;"}
      
  %div.row.bottom
    %div.col
    %div.col.col25
    %div.col
    %div.col
      = @assistants.count
    %div{style: "clear:both;"}



- if false


  %h1 Listing assistants

  %table
    %thead
      %tr
        %th Name
        %th Profile
        %th
        %th
        %th

    %tbody
      - @assistants.each do |assistant|
        %tr
          %td= assistant.name
          %td= assistant.profile_id
          %td= link_to 'Show', assistant
          %td= link_to 'Edit', edit_assistant_path(assistant)
          %td= link_to 'Destroy', assistant, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Assistant', new_assistant_path
