<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="heading">Log in</div>
  <% flash.each do |name, msg| %>
    <%type = name == "alert" ? "danger" : "success" %>
    <%= content_tag :div, msg, :class => "alert alert-#{type}" if msg.is_a?(String) %>
  <% end %> 
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
    <% if devise_mapping.rememberable? %>
      <div class="remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class="forgot-link">
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    </div>
    <% end %>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
