.profile_container{style:"width:100%"}
	.row
		.col{style:"max-width:280px"}
			.profile_menu_left_row
				.col
					= link_to (@profile.photo.blank? ? missing_profile_picture_url : @profile.photo.url) do
						= image_tag((@profile.photo.blank? ? missing_profile_picture_url : @profile.photo.url), :id => "profile_picture_image")
			.row
				.col
					- if @profile.user.is_employee? && (current_user.profile.user.is_admin? || current_user.profile.user.is_account_manager?)	
						= link_to "Edit", edit_employee_path(@profile.employee)
						|
						= link_to "Timesheet", @profile.employee
			.row
				.col{style:"font-size:24px;margin:0 auto;line-height:24px;text-align:center"}
					= @profile.name
			.row
				.col{style:"font-size:14px;margin:0 auto;text-align:center"}
					- if @profile.user.is_employee?
						= @profile.employee.job.title
					-else
						= @profile.role
		.col
			.row
				.col 
					%b Email:
					= @profile.user.email
				.col
					%b Phone 1:
					= @profile.phone1
				.col
					%b Address:
					= @profile.address