.profile_container{style:"width:100%"}
	.row
		.col{style:"max-width:280px"}
			.profile_menu_left_row
				.col
					= link_to (@profile.photo.blank? ? missing_profile_picture_url : @profile.photo.url) do
						= image_tag((@profile.photo.blank? ? missing_profile_picture_url : @profile.photo.url), :id => "profile_picture_image")
			.row
				.col
					- if @profile.user.is_employee? && (current_user.profile.user.is_admin? || current_user.profile.user.is_account_manager?)	
						= link_to "Edit", edit_employee_path(@profile.employee)
						|
						= link_to "Timesheet", @profile.employee
			.row
				.col{style:"font-size:24px;margin:0 auto;line-height:24px;text-align:center"}
					= @profile.name
			.row
				.col{style:"font-size:14px;margin:0 auto;text-align:center"}
					= @profile.role
			


		.col
			- if @profile.user.is_employee? && !@profile.employee.blank?
				.row
					.col
						%b
							Contract:
						= @profile.employee.contract_type
			.row
				%b Email:
				= @profile.user.email
			.row
				%b Phone 1:
				= @profile.phone1
			.row
				%b Phone 2:
				= @profile.phone2
			.row
				%b Address:
				= @profile.address
			
			.row
				%b Country:
				= @profile.country
			.row
				%b State:
				= @profile.state
			.row
				%b City:
				= @profile.city
			.row
				%b Zipcode:
				= @profile.zip_code

					


-#
	<div class="profile_menu_left profile_container">
		<div class="profile_menu_left_row" style="margin-top:20px">
			<div style="margin:0 auto;display:table">
				<%= link_to (@profile.photo.blank? ? missing_profile_picture_url : @profile.photo.url)  do %>
			  		<img src="<%= @profile.photo.blank? ? missing_profile_picture_url : @profile.photo.url %>" id="profile_picture_image"/>
				<% end %>
			</div>
		</div>
		<div class="profile_menu_left_row profile_actions" style="margin-bottom:10px">
			<% if @profile.user.is_employee? && (current_user.profile.user.is_admin? || current_user.profile.user.is_account_manager?) %>
			<%= link_to "Edit", edit_employee_path(@profile.employee) %> | 
			<%= link_to "Timesheet", @profile.employee %>
			<% end %>
		</div>
		<div class="profile_menu_left_row" style="flex-direction:column;margin-bottom:20px">
			<div style="font-size:24px;margin:0 auto;line-height:24px;">
				<%= @profile.name %>
			</div>
			<div style="font-size:14px;margin:0 auto">
				<%= @profile.role %>
				
			</div>
		</div>
		
		<div class="profile_menu_left_row">
			<div class="profile_menu_left_col profile_menu_title">
				Email:
			</div>
			<div class="profile_menu_left_col">
				<%= @profile.user.email %>
			</div>
		</div>
		
		<div class="profile_menu_left_col">
			<% if @profile.user.is_employee? && !@profile.employee.blank? %>
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					Contract:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.employee.contract_type %>
				</div>
			</div>
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					Cons Rate:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.employee.rate.to_f %>
				</div>
			</div>
			<% if @profile.employee.contract_type == "w2" %>
				<div class="profile_menu_left_row">
					<div class="profile_menu_left_col profile_menu_title">
						Employer Rate:
					</div>
					<div class="profile_menu_left_col">
						<%= @profile.employee.employer_rate.to_f %>
					</div>
				</div>
			<% end %>
				
			<% end %>
			
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					Phone 1:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.phone1 %>
				</div>
			</div>
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					Phone 2:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.phone2 %>
				</div>
			</div>
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					Address:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.address %>
				</div>
			</div>
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					Country:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.country %>
				</div>
			</div>
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					State:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.state %>
				</div>
			</div>
			<div class="profile_menu_left_row">
				<div class="profile_menu_left_col profile_menu_title">
					City:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.city %>
				</div>
			</div>
			<div class="profile_menu_left_row" style="margin-bottom:20px">
				<div class="profile_menu_left_col profile_menu_title">
					Zipcode:
				</div>
				<div class="profile_menu_left_col">
					<%= @profile.zip_code %>
				</div>
			</div>
		</div>
	</div>