
<% weekly_hours = 0 %>
<% weekly_charge = 0 %>
<% Employee.all.each do |employee| %>
	<% 
	
	wh = employee.projects.map {  |p| p.weekly_hours_worked.reject { |item| item.blank? }
	.reduce(&:+) }.reject { |item| item.blank? }.reduce(&:+) 

	weekly_hours += wh == nil ? 0 : wh
	%>
<% end %>
<div class="info_container">
	<div class="row">
		<div class="col">
			<div class="ti_price"><%= Employee.all.count %></div>
			<div class="ti_info">Total Employees</div>
			<div class="clr"></div>
		</div>
		<div class="col">
			<div class="ti_price"><%= weekly_hours %></div>
			<div class="ti_info">Hours Logged</div>
			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div>
	<!-- <div class="row">
		<div class="col" style="width:100%">
			<div class="bi_info">Total Weekly Charge</div>
			<div class="bi_price">
			</div>
			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div> -->
</div>
<%
	grouped = WorkDuration.all.group_by{|w| [w.created_at.beginning_of_week]}
	status = [0,0,0]
	grouped.each do |k,v|  
		status[0] = status[0] + 1 if v.try(:second).try(:time_sheet_status) == "pending"
		status[1] = status[1] + 1 if v.try(:second).try(:time_sheet_status) == "approved"
		status[2] = status[2] + 1 if v.try(:second).try(:time_sheet_status) == "rejected"
	end
%>
<div class="info_container">
	<div class="row">
		<div class="col" style="width:90%">
			<div class="ti_price"><%=status[0]%></div>
			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div>
	<div class="row bottom_button">
		<span>Pending</span> 
	</div>
</div>

<div class="info_container">
	<div class="row">
		<div class="col" style="width:90%">
			<div class="ti_price"><%=status[1]%></div>
			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div>
	<div class="row bottom_button">
		<span>Approved</span>
	</div>
</div>
<div class="info_container">
	<div class="row">
		<div class="col" style="width:90%">
			<div class="ti_price"><%=status[2]%></div>
			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div>
	<div class="row bottom_button">
		<span>Rejected</span>
	</div>
</div>

<div class="clr"></div>

<!-- <div class="info_container" style="width:100%">
	<div class="row top_title">
		<i class="material-icons" style="font-size:20px;color:#FFF;">announcement</i> Notifications
	</div>
	<div class="row">
		<div class="col" style="width:90%">
			<div class="ti_price">20</div>
			<div class="ti_info">Total Employees</div>
			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div>
</div> -->

<!-- <div class="clr"></div> -->

<!-- <div class="heading" style="padding-bottom: 0px;"> Active Job Posts: </div> -->

<!-- <div class="section" style="width: 100%;">
	<div class="row top">
		<div class="col" style="width:20px">
			#
		</div>
		<div class="col" style="width: 60%;">
			Post
		</div>
		<div class="col">
			Applications
		</div>
		<div class="col">
			Shotlists
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="row">
		<div class="col" style="width:20px">
			1
		</div>
		<div class="col" style="width: 60%;">
			<a href=""> Developer required at some place, please apply and let us know, thankyou. </a>
		</div>
		<div class="col">
			30
		</div>
		<div class="col">
			12
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="row">
		<div class="col" style="width:20px">
			2
		</div>
		<div class="col" style="width: 60%;">
			<a href=""> Microsoft Specialist required for a fortune 500 company, work remotely. thankyou. </a>
		</div>
		<div class="col">
			23
		</div>
		<div class="col">
			8
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="row">
		<div class="col" style="width:20px">
			3
		</div>
		<div class="col" style="width: 60%;">
			<a href=""> Developer required at some place, please apply and let us know, thankyou.  </a>
		</div>
		<div class="col">
			3
		</div>
		<div class="col">
			0
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="row bottom">
		<div class="col" style="width:20px">
			
		</div>
		<div class="col" style="width: 60%;">
			
		</div>
		<div class="col">
			56
		</div>
		<div class="col">
			20
		</div>
		<div style="clear:both"></div>
	</div>
</div> -->