<div class="page_heading">
	Jobs
</div>
<div class="info_print_employee flex_row">
	<%# The script that makes these filter fields work is defined in application.js %>
	<%# Any thing with class "filter_field" will get .onChanged attached to it where the "filter_name" attribute will be turned into parameter name and the current url will be called %>
	
	<div class="flex_col" style="padding:0px 10px">
		<%= select_tag 'client_filter',
			options_from_collection_for_select(Client.all, "id", "company_name", params["client"]),
			class: 'form-control filter_field',
			id: "filter_field",
			filter_name: "client",
			prompt: "Client" %>
	</div>
	
	<div class="flex_col" style="padding:0px 10px">
		<%= select_tag 'vendor_filter',
			options_from_collection_for_select(Vendor.all, "id", "name", params["vendor"]),
			class: 'form-control filter_field',
			id: "filter_field",
			filter_name: "vendor",
			prompt: "Vendor" %>
	</div>
	
	<div class="flex_col" style="padding:0px 10px">
		<%= select_tag 'status_filter',
			options_for_select(["Open", "Close"], params["status"]),
			class: 'form-control filter_field',
			id: "filter_field",
			filter_name: "status",
			prompt: "Status" %>
	</div>
	
	
	<div class="flex_col" style="padding:0px 10px">
		<%= text_field_tag 'time_sheet_date_range',
			  (params[:from_date].present? && params[:from_date] != "") ? params[:from_date] : "Start Date",
			  class: 'form-control date_select_field',
			  id:"date-range-work",
			  prompt: "Start Date"
			  %>
	</div>
	
	<div class="flex_col"></div>
	
	<div class="flex_col">
		<%= link_to "Add Job", new_job_url, {:class => "button_link", :style=> "background:#36d673;font-size:13px;width:160px;"} %>
	</div>
	
</div>
<div class="section">

  <div class="row top">
    <div class="col col8">
      JobID
    </div>
    <div class="col col8">
      Date Opened
    </div>
    
	<div class="col col25">
      Title
    </div>
	
	<div class="col col8">
      Location
    </div>
	<div class="col col8">
      Vendor
    </div>
	
	<div class="col col8">
      Client
    </div>
	
	<div class="col col8">
      Job Type
    </div>
	<div class="col col8">
      Status
    </div>
	
	<div class="col col8">
      Close Date
    </div>
	<% if current_user.is_account_manager? %>
    <div class="col col25">Actions</div>
	<% end %>
  </div>

  <% total_hours = 0 %>
  <% @jobs.each_with_index do |job, index| %>
    <div class="row row_hover_highlight">
      <div class="col col8">
        <%= job.id %>
      </div>
      
      <div class="col col8">
        <%= job.start_date %>
      </div>
      
	  <div class="col col25">
         <%= link_to job.title, job %>
      </div>
	  
      <div class="col col8">
        <%= job.location %>
      </div>
	  
      <div class="col col8">
        <%= job.vendor.name %>
      </div>
	  
      <div class="col col8">
        <%= job.client.company_name %>
      </div>
	  
	  <div class="col col8">
        <%= job.job_type.blank? ? "(Unassigned)" : job.job_type %>
      </div>
	  
	  <div class="col col8">
        <%= job.closing_date.blank? ? "Open" : "Closed" %>
      </div>
	  
	  <div class="col col8">
        <%= job.closing_date %>
      </div>
      
	  <% if current_user.is_account_manager? %>
      <div class="col col25">
		  <%= link_to "Edit", edit_job_path(job)%> |
		  <%= link_to 'Destroy', job_path(job), data: {:confirm => 'Are you sure?'}, :method => :delete %>
		  <% if job.status == "Open" %>
		   | <a href="#" job_id="<%=job.id%>" job_title="<%= job.title %>" class="close_job_link">Close</a>
		   | <%= link_to "Add Consultant", new_posting_path(:job_id => job.id) %>
		  <% end %>
      </div>
	  <% end %>
	  
    </div>
  <% end %>
  

  <div class="row bottom">
    <div class="col">
      
    </div>
    <div class="col col25">
      
    </div>
    <div class="col col25">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      <%# total_hours %>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="recorc_bottom flex_row">
	<div class="flex_row"></div>
	<div class="pagination_container flex_row" style="flex-grow:0;width:160px">
		<%# total_pages = (@jobs.count.to_f / 10.0).floor.to_i + (((@jobs.count.to_f / 10.0).modulo(1) > 0) ? 1 : 0) %>
		
		<% if @page > 0 %>
		<div class="flex_col" style="padding:0px">
			<a href="" class="pagination_link" new_page="0">
				<span class="material-icons">
				skip_previous
				</span>
			</a>
			<a href="" class="pagination_link" new_page="<%= @page - 1 %>">
				<span class="material-icons">
				navigate_before
				</span>
			</a>
		</div> 
		<% end %>
		<div class="flex_col" style="padding:0px;text-align:center">
		<%= "#{@page + 1} / #{@total_pages}" %> 
		</div>
		<% if @page < @total_pages - 1 %>
		<div class="flex_col" style="padding:0px">
		<a href="" class="pagination_link" new_page="<%= @page + 1 %>">
			<span class="material-icons">
			navigate_next
			</span>
		</a>
		<a href="" class="pagination_link" new_page="<%= @total_pages - 1%>">
			<span class="material-icons">
			skip_next
			</span>
		</a>
		</div>
		<% end %>
	</div>
</div>

<%= render "jobs/close_job_form" %>

