<% if @client.present? and @client.try(:errors).any? %>
<div id="error_explanation">
  <h2><%= pluralize(@client.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  
<% def show_field(form, field, title, required=false) %>
	<b><%= title %>:</b>
	<%= form.text_field field, :required => required %>
<% end %>

<%= form_with(model: @client, local: true) do |form| %>

<div class="page_title"> Profile Details </div>
<div class="flex_col">
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :company_name, "Company Name", true) %>
		</div>
		<div class="flex_col">
			<b>Company Email:</b>
			<%= form.telephone_field :company_email, :placeholder=>"example@address.com", :required=>true %>
			
		</div>
		<div class="flex_col">
			<% show_field(form, :company_website, "Website Address") %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :company_address, "Company Address") %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<b>Phone Number:</b>
			<%= form.telephone_field :phone_number, :placeholder=>"123-456-6789", :pattern=>"[0-9]{3}-[0-9]{3}-[0-9]{4}", :required=>true, :class =>"filtered_phone_number" %>
		</div>
		<div class="flex_col">
			<%= show_field(form, :fax_number, "Fax Number") %>
		</div>
	</div>
</div>
	
<div class="page_title"> Contact Details </div>
<div class="flex_col">
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :contact_name, "Contact Name") %>
		</div>
		<div class="flex_col">
			<% show_field(form, :contact_designation, "Contact Designation") %>
		</div>
	</div>
	<div class="flex_row">
		<div class="flex_col">
			<% show_field(form, :contact_number, "Contact Phone") %>
		</div>
		<div class="flex_col">
			<% show_field(form, :contact_email, "Contact Email") %>
		</div>
	</div>
</div>

<div class="flex_row">
	<div class="flex_col" style="text-align:right">
		<%= form.submit "Submit", :class=>"submit_button" %>
	</div>
</div>
	


<% end %>
