<script>
	
</script>
<style>
	.timesheet_row{
		display:flex;
		flex-style:row;
		border-bottom:1px solid rgb(221, 221, 221);
	}
	.timesheet_col{
		padding:10px;
		flex-grow: 1;
		width:10%;
		max-width: 100%;
		text-align:center;
	}
	.timesheet_col img{
		background:#EEE;
		width:30px;
		height:30px;
		border-radius:15px;
	}
	.top{
		font-weight: bold;
		color: #FFF;
		background: var(--main-color);
		border-radius: 10px 10px 0px 0px;
	}
</style>
<% if !defined?(allow_submition) %>
<% allow_submition = false %>
<% end %>


<div class="timesheet_row top">
	<div class="timesheet_col"> Time Period </div>
	<div class="timesheet_col"> Mon </div>
	<div class="timesheet_col"> Tue </div>
	<div class="timesheet_col"> Wed </div>
	<div class="timesheet_col"> Thu </div>
	<div class="timesheet_col"> Fri </div>
	<div class="timesheet_col"> Total Hours </div>
	<div class="timesheet_col"> Screenshot </div>
	<div class="timesheet_col"> Status </div>
</div>
<% if allow_submition %>
	<% (0...2).each do |decriment| %>
	
	<% beginning_of_week = Date.today.beginning_of_week - decriment %>
	
	<% timesheet =  Timesheet.where(start_date: beginning_of_week) %>
	
	<% if timesheet.blank? %>
	<% timesheet = Timesheet.new(start_date: beginning_of_week, employee_id: current_user.profile.employee.id) %>
	<% end %>
	
	
	<div class="timesheet_row row_hover_highlight">
		<div class="timesheet_col">
			<%= "#{timesheet.start_date.strftime("%d %b, %y")} - #{timesheet.last_work_day.strftime("%d %b, %y")}" %>
		</div>
		<div class="timesheet_col">
			<%= timesheet.monday %>
		</div>
		<div class="timesheet_col">
			<%= timesheet.tuesday %>
		</div>
		<div class="timesheet_col">
			<%= timesheet.wednesday %>
		</div>
		<div class="timesheet_col">
			<%= timesheet.thursday %>
		</div>
		<div class="timesheet_col">
			<%= timesheet.friday %>
		</div>
		<div class="timesheet_col">
			<%= timesheet.total_hours_worked %>
		</div>
		<div class="timesheet_col">
			<img src="<%= timesheet.screen_shot.attached? ? url_for(timesheet.screen_shot) : ""  %>" class="picture-src" id="wizardPicturePreview" title="" style="background:white">
		</div>
		<div class="timesheet_col">
			<%= timesheet.status %>
		</div>
	</div>
	<div class="hideable_form">
		<%= form_for timesheet, multipart: true, style: "margin:0px;width:100%;padding:0px;" do |f| %>
		<div class="timesheet_row row_hover_highlight">
			<div class="timesheet_col">
				<%= "#{timesheet.start_date.strftime("%d %b, %y")} - #{timesheet.last_work_day.strftime("%d %b, %y")}" %>
			</div>
			<div class="timesheet_col">
				<%= f.text_field :monday %>
			</div>
			<div class="timesheet_col">
				<%= f.text_field :tuesday %>
			</div>
			<div class="timesheet_col">
				<%= f.text_field :wednesday %>
			</div>
			<div class="timesheet_col">
				<%= f.text_field :thursday %>
			</div>
			<div class="timesheet_col">
				<%= f.text_field :friday %>
			</div>
			<div class="timesheet_col">
				<%= timesheet.total_hours_worked %>
			</div>
			<div class="timesheet_col">
				<img src="<%= timesheet.screen_shot.attached? ? url_for(timesheet.screen_shot) : ""  %>" class="picture-src" id="wizardPicturePreview" title="" style="background:white">
			</div>
			<div class="timesheet_col">
				<%= timesheet.status %>
			</div>
		</div>
		<% end %>
	</div>


	<% end %>
	
<% end %>
