%div.heading 
  Manage Employers
%div
  = link_to "New Employer", new_profile_url(role:"employer"), {:class => "button_link"}
%div.section
  %div.row.top
    %div.col
      \#
    %div.col.col25
      Name
    %div.col.col25
      Created At
    %div{:style => "clear:both"}
  - @employers.each_with_index do |employer, index| 
    %div.row
      %div.col
        = index + 1
      %div.col.col25      
        -if employer.try(:profile).present?
          = link_to  employer.try(:profile).try(:full_name), edit_profile_path(employer.try(:profile).try(:id),role:employer.try(:profile).try(:role).try(:downcase))
      %div.col.col25      
        = employer.created_at.strftime("%Y-%m-%d %H:%M") 
      %div{style: "clear:both;"}

  %div.row.bottom
    %div.col
    %div.col.col25
    %div.col
    %div.col
      = @employers.count
    %div{style: "clear:both;"}

- if false

  %h1 Listing employers

  %table
    %thead
      %tr
        %th Company name
        %th Profile
        %th
        %th
        %th

    %tbody
      - @employers.each do |employer|
        %tr
          %td= employer.company_name
          %td= employer.profile_id
          %td= link_to 'Show', employer
          %td= link_to 'Edit', edit_employer_path(employer)
          %td= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Employer', new_employer_path
