.flex_row
	.flex_col
		.section
			.row.top
				.col
					Consultant Name
				.col
					Job Title
				.col
					Submitted Hours
				.col
					Total Amount
				.col
					Actions
			
			- @employer.employees.each do |employee|
				.row.row_hover_highlight
					.col.img_col
						= employee.profile.name
					.col.img_col
						= employee.active_job.title
					.col.img_col
						= employee.work_durations.limit(100).sum(:hours)
					.col.img_col
						= employee.profile.name
					.col.img_col
						= link_to "Manager Invoices", invoices_path(emp: employee.id)
					
	.flex_col{:style=>"width:10%;min-width:350px"}			
		.flex_col.profile_container{:style=>"padding:0px 0px 10px 0px"}
			.flex_row
				.flex_col.info_section_title
					Profile Info
			.flex_row
				.flex_col
					%b Email:
				.flex_col
					= @employer.profile.blank? ? "(Missing Profile)" : @employer.profile.email
		.flex_col.profile_container{:style=>"padding:0px 0px 10px 0px"}
			.flex_row
				.flex_col.info_section_title
					Company Info
			.flex_row
				.flex_col
					%b Name:
				.flex_col
					= @employer.company_name
			.flex_row
				.flex_col
					%b Website: 
				.flex_col
					= @employer.company_website
			.flex_row
				.flex_col
					%b Phone Number: 
				.flex_col
					= @employer.phone_number
			.flex_row
				.flex_col
					%b Fax Number: 
				.flex_col
					= @employer.fax_number
			.flex_row
				.flex_col
					%b Address: 
				.flex_col
					= @employer.company_address
					
		.flex_col.profile_container{:style=>"padding:0px 0px 10px 0px"}
			.flex_row
				.flex_col.info_section_title
					Contact Details
			.flex_row
				.flex_col
					%b Name:
				.flex_col
					= @employer.contact_name
			.flex_row
				.flex_col
					%b Designation: 
				.flex_col
					= @employer.contact_designation
			.flex_row
				.flex_col
					%b Phone Number: 
				.flex_col
					= @employer.contact_number
			.flex_row
				.flex_col
					%b Email: 
				.flex_col
					= @employer.contact_email