<% if user_signed_in? %>
	<div class="flex_col" style="max-width:250px">
		
		<div class="menu">
		  <ul>
			  <li class="option <%= (action_name=="dashboard") ? "menu_item_selected" : "" %>">
				  <%= link_to "Home", root_path %>
			  </li>
		</ul>

		<%if current_user.is_admin? %>
		<ul>
			<li class="heading"><a> Admin Options </a></li>
			<li class="option"> <a href="/account_managers"> Manage Account Managers </a> </li>
		</ul>
		<% end %>

		<%if current_user.is_account_manager? %>
		<ul>
			<li class="option <%= action_name=="time_sheet_approval" ? "menu_item_selected" : "" %>">
				<a href="/account_managers/time_sheet_approval?order=status"> Timesheet Management </a>
			</li>
		</ul>
		<% end %>

		<%if current_user.is_admin? || current_user.is_account_manager? %>

		<ul>
			<li class="option <%= controller_name=="vendors" ? "jos" : "" %>"> <a onclick="alert('In Progress!')">User Management</a> </li>
		</ul>

		<ul>
			<li class="option <%= controller_name=="vendors" ? "menu_item_selected" : "" %>"> <a href="/vendors"> Prime Vendors </a> </li>
			<li class="option <%= controller_name=="clients" ? "menu_item_selected" : "" %>"> <a href="/clients"> Clients </a> </li>
			<li class="option <%= controller_name=="employees" ? "menu_item_selected" : "" %>"> <a href="/employees"> Consultants </a> </li>
			<li class="option <%= controller_name=="employers" ? "menu_item_selected" : "" %>"> <a href="/employers"> Employers </a> </li>
		</ul>

		<ul>
			<li class="option <%= controller_name=="vendors" ? "jos" : "" %>"> <a href="/jobs">Jobs</a> </li>
			<li class="option <%= controller_name=="clients" ? "reports" : "" %>"> <a onclick="alert('In Progress!')">Reports</a> </li>
			<li class="option <%= controller_name=="employees" ? "invoices" : "" %>"> <a onclick="alert('In Progress!')">Invoices</a> </li>
		</ul>

		<%elsif current_user.profile.role == "Employee" %>

		<%@employee = @employee.nil? ? current_user.profile.employee : @employee %>

		<ul style="<%= params["prv"] == "true" ? "display:none" : "" %>" >
			<li class="option <%= (controller_name == "employees" && action_name=="show") ? "menu_item_selected" : "" %>">
				<a href="/employees/<%=@employee.id%>?order=status"> Timesheet Management </a>
			</li>
			<li class="option <%= (controller_name == "profiles" && action_name=="show") ? "menu_item_selected" : "" %>">
				<%= link_to 'Profile', current_user.profile %>
			</li>
		</ul>

		<%if @employee.present?%>

		<ul style="<%= params["prv"] == "true" ? "" : "display:none"%>">
			<li id="back" style="cursor:pointer;"><a>Back</a></li>

			<%keys = @employee.work_durations.group_by{|w| ["#{w.work_day.beginning_of_week.strftime("%B %d, %Y")}", w.time_sheet_status]}.keys.to_h%>
		    <%(3.month.ago.to_datetime..Date.today).select(&:monday?).map{|d| d.strftime("%B %d, %Y")}.each do |date|%>

			<li style="margin: 0 0 10px 0;">
				<%= link_to date,weekly_wise_data_work_durations_url(date:date,eid:@employee.id,prv: "true"),:class =>
				keys["#{date}"].present? ? keys["#{date}"]+"-menu" : "pending-menu" %>
			</li>
		    <%end%>

		</ul>

		<%end%>

		<%elsif current_user.profile.role == "Assistant"%>
		<ul>
			<li class="option"> <a href="/account_managers/time_sheet_approval?order=status"> Time Sheet Approval </a> </li>
			<li class="option"> <a href="/vendors"> Vendor Wise Reports </a> </li>
		</ul>

		<% end %>
		</div>
	</div>
<% end %>

